<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div *ngIf="isCreateCategory; else elseBlock">
        <app-reports-header
          title="CREATE STOCK CATEGORY"
          [reportFormGroupName]="categoryForm"
          buttonTitle="List of Stock Category"
          [isDownloadNeeded]="false"
          (onClickCreateButton)="onClickButton()"
        ></app-reports-header>
      </div>
      <ng-template #elseBlock>
        <app-reports-header
          title="UPDATE STOCK CATEGORY"
          [reportFormGroupName]="categoryForm"
          [isDownloadNeeded]="false"
          buttonTitle="List of Stock Category"
          (onClickCreateButton)="onClickAddButton()"
        ></app-reports-header>
      </ng-template>
    </div>
    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <form [formGroup]="categoryForm">
        <div class="row">
          <div class="col-12">
            <p style="font-size: 1.125rem; font-weight: 600; color: black">
              ID #{{ catcode }}
            </p>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="categoryForm"
                  labelText="Category Name"
                  [placeholderText]="'Name'"
                  [controlName]="'ccatname'"
                ></app-mat-input>
              </div>

              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600; width: 50%">
                    Category Name
                  </p>

                  <app-mat-select-box
                    [formOptions]="categetoryDropDownData"
                    [controlName]="'ccatunder'"
                    [label]="'Category Name'"
                    [groupName]="categoryForm"
                    [formAppearance]="'outline'"
                    selectWidth="201px"
                  ></app-mat-select-box>
                </div>
              </div>
            </div>

            <app-action-button
              [loading]="loading"
              [isSave]="isCreateCategory"
              (clickSave)="submit()"
              (clickClearAll)="clear()"
              (clickUpdate)="update()"
            ></app-action-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
