<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <app-reports-header
        title="CREATE CUSTOMER"
        buttonTitle="Customer List"
        (onClickCreateButton)="onClickButton()"
        [isDownloadNeeded]="false"
        [isReports]="false"
      ></app-reports-header>
    </div>
    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <div class="row">
        <div class="col-12">
          <p
            style="
              padding-bottom: 12px;
              font-size: 1.125rem;
              font-weight: 600;
              color: black;
            "
          >
            CUSTOMER DETAIL
          </p>

          <div class="col-6">
            <app-mat-input
              [groupName]="customerForm"
              labelText="Customer Name"
              [placeholderText]="'Name'"
              [controlName]="'cdisplayName'"
            ></app-mat-input>
          </div>
          <p
            style="
              padding-bottom: 20px;
              padding-top: 20px;
              font-size: 1.125rem;
              font-weight: 600;
              color: black;
            "
          >
            PRIMARY CONTACT PERSON
          </p>
          <div class="col-12 d-flex flex-wrap align-items-center pb-2">
            <div
              class="d-flex flex-wrap mb-0 align-items-center col-lg-4 col-md-12"
            >
              <p
                class=""
                style="
                  color: #667085;
                  font-weight: 600;
                  padding-right: 10px;
                  margin: 0px;
                "
              >
                Salutation
              </p>
              <app-mat-select-box
                [formOptions]="salutationData"
                [controlName]="'csalutation'"
                [groupName]="customerForm"
                [formAppearance]="'outline'"
                selectWidth="120px"
              ></app-mat-select-box>
            </div>
            <div class="col-lg-4 col-md-12 pb-2">
              <app-mat-input
                [groupName]="customerForm"
                labelText="First Name"
                [placeholderText]="'First Name'"
                [controlName]="'cfirstName'"
              ></app-mat-input>
            </div>
            <div class="col-lg-4 col-md-12 pb-2">
              <app-mat-input
                [groupName]="customerForm"
                labelText="Last Name"
                [placeholderText]="'Last Name'"
                [controlName]="'clastName'"
                [isRequired]="false"
              ></app-mat-input>
            </div>
          </div>
          <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
            <div class="col-lg-6 col-md-12 pb-2">
              <app-mat-input
                [groupName]="customerForm"
                labelText="Mobile No"
                [placeholderText]="'Mobile No'"
                [controlName]="'cmobile'"
              ></app-mat-input>
            </div>
            <div class="col-lg-6 col-md-12 pb-2">
              <app-mat-input
                [groupName]="customerForm"
                labelText="Email ID"
                [placeholderText]="'Email ID'"
                [controlName]="'cemail'"
                [isRequired]="false"
              ></app-mat-input>
            </div>
          </div>
          <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
            <div class="col-lg-6 col-md-12 pb-2">
              <app-mat-input
                [groupName]="customerForm"
                labelText="Website"
                [placeholderText]="'Website'"
                [controlName]="'cwebsite'"
                [isRequired]="false"
              ></app-mat-input>
            </div>
            <div class="col-lg-6 col-md-12 pb-2">
              <div
                class="col-12 d-flex flex-wrap align-items-center justify-content-between"
              >
                <p style="color: #667085; font-weight: 600; margin: 0px">
                  Currency
                </p>

                <app-mat-select-box
                  [formOptions]="currencyDropDownData"
                  [controlName]="'ccurrency'"
                  [label]="'Currency'"
                  [groupName]="customerForm"
                  [formAppearance]="'outline'"
                  selectWidth="201px"
                ></app-mat-select-box>
              </div>
            </div>
          </div>

          <div class="row" style="padding-bottom: 20px; padding-top: 20px">
            <p
              style="
                padding-bottom: 20px;
                padding-top: 20px;
                padding-left: 7.5px;
                padding-right: 7.5px;
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
              "
            >
              OTHER DETAILS
            </p>
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"
            >
              <div class="card" style="box-shadow: none">
                <mat-tab-group>
                  <mat-tab label="GST DETAILS">
                    <div class="col-12">
                      <div
                        class="p-0 d-flex flex-wrap justify-content-between mt-4 pb-2"
                      >
                        <div class="col-lg-6 col-md-12 pb-2">
                          <div
                            class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <p
                              style="
                                color: #667085;
                                font-weight: 600;
                                margin: 0px;
                              "
                            >
                              Place of Supply
                            </p>
                            <div>
                              <app-mat-select-box
                                [formOptions]="stateDropDownData"
                                [controlName]="'cstate'"
                                [label]="'Place of Supply'"
                                [groupName]="customerForm"
                                [formAppearance]="'outline'"
                                selectWidth="201px"
                              ></app-mat-select-box>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12 pb-2">
                          <div
                            class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <p
                              style="
                                color: #667085;
                                font-weight: 600;
                                margin: 0px;
                              "
                            >
                              Gst Treatment
                            </p>
                            <div>
                              <app-mat-select-box
                                [formOptions]="regTypeData"
                                [controlName]="'cgstTreatment'"
                                [label]="'Gst Treatment'"
                                [groupName]="customerForm"
                                [formAppearance]="'outline'"
                                selectWidth="201px"
                              ></app-mat-select-box>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="p-0 d-flex flex-wrap justify-content-between pb-2"
                      >
                        <div class="col-lg-6 col-md-12 pb-2">
                          <app-mat-input
                            [groupName]="customerForm"
                            labelText="TYPE GSTIN"
                            [placeholderText]="'GSTIN No'"
                            [controlName]="'cgstNo'"
                            [isRequired]="false"
                          ></app-mat-input>
                        </div>
                        <div class="col-lg-6 col-md-12 pb-2">
                          <app-mat-input
                            [groupName]="customerForm"
                            labelText="TYPE PAN"
                            [placeholderText]="'PAN NO'"
                            [controlName]="'cpanNo'"
                            [isRequired]="false"
                          ></app-mat-input>
                        </div>
                        <div class="col-lg-6 col-md-12 pb-2">
                          <app-mat-input
                            [groupName]="customerForm"
                            labelText="CIN NO"
                            [placeholderText]="'TYPE CIN'"
                            [controlName]="'ccinNo'"
                            [isRequired]="false"
                          ></app-mat-input>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="PAYMENT DETAILS">
                    <div
                      class="col-12 p-0 d-flex flex-wrap justify-content-between mt-4 pb-2"
                    >
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Balance To Pay"
                          [placeholderText]="'RS.500'"
                          [controlName]="'cbalanceToPay'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Balance To Collect"
                          [placeholderText]="'RS.250'"
                          [controlName]="'cbalanceToColl'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Term in Days"
                          [placeholderText]="'5'"
                          [controlName]="'cpaymentTerm'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Credit Limit"
                          [placeholderText]="'1000'"
                          [controlName]="'ccreditLimit'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Bank Details"
                          [placeholderText]="'Bank Details'"
                          [controlName]="'cbankDetails'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab
                    label="COMMUNICATION DETAILS"
                    style="overflow: hidden !important"
                  >
                    <mat-tab-group>
                      <mat-tab
                        label="Billing Address"
                        style="overflow: hidden !important"
                      >
                        <div
                          class="p-0 d-flex flex-wrap justify-content-between mt-4 pb-2"
                        >
                          <div class="col-lg-6 col-md-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                            >
                              <p
                                style="
                                  color: #667085;
                                  font-weight: 600;
                                  margin: 0px;
                                "
                              >
                                Country
                              </p>
                              <div>
                                <app-mat-select-box
                                  [formOptions]="countryDropDownData"
                                  [controlName]="'cbCountry'"
                                  [label]="'Country'"
                                  [groupName]="customerForm"
                                  [formAppearance]="'outline'"
                                  selectWidth="201px"
                                ></app-mat-select-box>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                            >
                              <p
                                style="
                                  color: #667085;
                                  font-weight: 600;
                                  margin: 0px;
                                "
                              >
                                State
                              </p>
                              <div>
                                <app-mat-select-box
                                  [formOptions]="stateDropDownData"
                                  [controlName]="'cbState'"
                                  [label]="'State'"
                                  [groupName]="customerForm"
                                  [formAppearance]="'outline'"
                                  selectWidth="201px"
                                ></app-mat-select-box>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="p-0 d-flex flex-wrap justify-content-between pb-2"
                        >
                          <div class="col-lg-6 col-md-12 pb-2">
                            <app-mat-input
                              [groupName]="customerForm"
                              labelText="City"
                              [placeholderText]="'Type City'"
                              [controlName]="'cbCity'"
                              [isRequired]="false"
                            ></app-mat-input>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <app-mat-input
                              [groupName]="customerForm"
                              labelText="Phone Number"
                              [placeholderText]="'Type P.No'"
                              [controlName]="'cbPhone'"
                              [isRequired]="false"
                            ></app-mat-input>
                          </div>
                          <div class="col-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                            >
                              <div class="col-lg-3 col-md-12" style="padding-left: 0px">
                                <p style="color: #667085; font-weight: 600">
                                  Address
                                </p>
                              </div>
                              <div class="col-lg-9 col-md-12" style="display: contents">
                                <mat-form-field
                                  [formGroup]="customerForm"
                                  class="example-full-width"
                                  appearance="outline"
                                  style="
                                    width: calc(50% + 216px);
                                    margin-top: 6px !important;
                                  "
                                >
                                  <div>
                                    <textarea
                                      style="
                                        height: 68px;
                                        vertical-align: super;
                                      "
                                      placeholder="Address"
                                      type="text"
                                      matInput
                                      formControlName="cbAddress"
                                      autocomplete="off"
                                    ></textarea>
                                  </div>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <app-mat-input
                              [groupName]="customerForm"
                              labelText="Pincode"
                              [placeholderText]="'Type PinCode'"
                              [controlName]="'cbPincode'"
                              [isRequired]="false"
                            ></app-mat-input>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab
                        label="Delivery Address"
                        style="overflow: hidden !important"
                      >
                        <div
                          class="p-0 d-flex flex-wrap justify-content-between mt-4 pb-2"
                        >
                          <div class="col-lg-6 col-md-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                            >
                              <p
                                style="
                                  color: #667085;
                                  font-weight: 600;
                                  margin: 0px;
                                "
                              >
                                Country
                              </p>
                              <div>
                                <app-mat-select-box
                                  [formOptions]="countryDropDownData"
                                  [controlName]="'cdCountry'"
                                  [label]="'Country'"
                                  [groupName]="customerForm"
                                  [formAppearance]="'outline'"
                                  selectWidth="201px"
                                ></app-mat-select-box>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                            >
                              <p
                                style="
                                  color: #667085;
                                  font-weight: 600;
                                  margin: 0px;
                                "
                              >
                                State
                              </p>
                              <div>
                                <app-mat-select-box
                                  [formOptions]="stateDropDownData"
                                  [controlName]="'cdState'"
                                  [label]="'State'"
                                  [groupName]="customerForm"
                                  [formAppearance]="'outline'"
                                  selectWidth="201px"
                                ></app-mat-select-box>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="p-0 d-flex flex-wrap justify-content-between pb-2"
                        >
                          <div class="col-lg-6 col-md-12 pb-2">
                            <app-mat-input
                              [groupName]="customerForm"
                              labelText="City"
                              [placeholderText]="'TYPE City'"
                              [controlName]="'cdCity'"
                              [isRequired]="false"
                            ></app-mat-input>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <app-mat-input
                              [groupName]="customerForm"
                              labelText="Phone Number"
                              [placeholderText]="'type P.No'"
                              [controlName]="'cdPhone'"
                              [isRequired]="false"
                            ></app-mat-input>
                          </div>
                          <div class="col-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                            >
                              <div class="col-lg-3 col-md-12" style="padding-left: 0px">
                                <p style="color: #667085; font-weight: 600">
                                  Address
                                </p>
                              </div>
                              <div class="col-lg-9 col-md-12" style="display: contents">
                                <mat-form-field
                                  [formGroup]="customerForm"
                                  class="example-full-width"
                                  appearance="outline"
                                  style="
                                    width: calc(50% + 216px);
                                    margin-top: 6px !important;
                                  "
                                >
                                  <div>
                                    <textarea
                                      style="
                                        height: 68px;
                                        vertical-align: super;
                                      "
                                      placeholder="Address"
                                      type="text"
                                      matInput
                                      formControlName="cdAddress"
                                      autocomplete="off"
                                    ></textarea>
                                  </div>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <app-mat-input
                              [groupName]="customerForm"
                              labelText="Pincode"
                              [placeholderText]="'Type PinCode'"
                              [controlName]="'cdPincode'"
                              [isRequired]="false"
                            ></app-mat-input>
                          </div>
                          <div class="col-lg-6 col-md-12 pb-2">
                            <div
                              class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                              style="height: 100%"
                            >
                              <mat-checkbox
                                [checked]="isDeliveryAddressSame"
                                (change)="toggleRepeatAddress($event.checked)"
                                >Same as Billing Address</mat-checkbox
                              >
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </mat-tab>
                  <mat-tab
                    label="CONTACT PERSONS"
                    style="overflow: hidden !important"
                  >
                    <div
                      class="p-0 d-flex flex-wrap justify-content-between mt-4 pb-2"
                    >
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Contact Person Name"
                          [placeholderText]="'Name'"
                          [controlName]="'ccpName'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Designation"
                          [placeholderText]="'Designation'"
                          [controlName]="'ccpDesignation'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Department"
                          [placeholderText]="'Department'"
                          [controlName]="'ccpDepartment'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Mobile NO"
                          [placeholderText]="'Phone NO'"
                          [controlName]="'ccpMobile'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Email ID"
                          [placeholderText]="'email ID'"
                          [controlName]="'ccpEmail'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="REMARKS" style="overflow: none !important">
                    <div
                      class="p-0 d-flex flex-wrap justify-content-between mt-4 pb-2"
                    >
                      <div class="col-lg-6 col-md-12 pb-2">
                        <app-mat-input
                          [groupName]="customerForm"
                          labelText="Remarks"
                          [placeholderText]="'Remarks'"
                          [controlName]="'cremarks'"
                          [isRequired]="false"
                        ></app-mat-input>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
          <app-action-button
            [loading]="loading"
            [isSave]="isCreateCustomer"
            (clickSave)="submit()"
            (clickUpdate)="update()"
            (clickClearAll)="clearAll()"
          ></app-action-button>
        </div>
      </div>
    </div>
  </div>
</div>
