<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div *ngIf="isCreateStockItem; else elseBlock">
        <app-reports-header
          title="CREATE STOCK ITEM"
          [isDownloadNeeded]="false"
          [isReports]="false"
          buttonTitle="List of Stock Item"
          (onClickCreateButton)="onClickButton()"
        ></app-reports-header>
      </div>
      <ng-template #elseBlock>
        <app-reports-header
          title="UPDATE STOCK ITEM"
          [reportFormGroupName]="itemForm"
          [isDownloadNeeded]="false"
          buttonTitle="Add STOCK ITEM"
          (onClickCreateButton)="onClickAddButton()"
        ></app-reports-header>
      </ng-template>
    </div>

    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <form [formGroup]="itemForm">
        <div class="row">
          <div class="col-12">
            <p style="font-size: 1.125rem; font-weight: 600; color: black">
              ID #{{ itemcode }}
            </p>

            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="itemForm"
                  #eitemname
                  (keyup.enter)="itemNameEnter($event)"
                  labelText="Item Name"
                  [placeholderText]="'Name'"
                  [controlName]="'citemname'"
                ></app-mat-input>
              </div>

              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600; width: 50%">
                    Item Under
                  </p>
                  <div>
                    <app-mat-select-box
                      [formOptions]="groupDropDownData"
                      [controlName]="'citemunder'"
                      [label]="'Item Under'"
                      [groupName]="itemForm"
                      [formAppearance]="'outline'"
                      selectWidth="201px"
                    ></app-mat-select-box>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="itemForm"
                  labelText="Item SKU"
                  [placeholderText]="'Item SKU'"
                  [controlName]="'citemsku'"
                  [modelName]="itemsku"
                ></app-mat-input>
              </div>
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="itemForm"
                  labelText="HSN/SAC"
                  [placeholderText]="'HSN/SAC'"
                  [controlName]="'citemhsn'"
                  [modelName]="itemhsn"
                ></app-mat-input>
              </div>
            </div>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600; width: 50%">
                    Item Category
                  </p>
                  <div>
                    <app-mat-select-box
                      #eitemuomcode
                      [formOptions]="categoryData"
                      [controlName]="'citemcatcode'"
                      [label]="'Item Category'"
                      [groupName]="itemForm"
                      [formAppearance]="'outline'"
                      selectWidth="201px"
                    ></app-mat-select-box>
                  </div>
                  <!-- <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                      style="width: 100%"
                    >
                      <mat-select
                        #eitemuomcode
                        placeholder="Item Category"
                        formControlName="citemcatcode"
                        [(ngModel)]="itemcatcode"
                        [value]="itemcatcode"
                        (selectionChange)="changeCategory($event)"
                      >
                        <mat-option
                          *ngFor="let item of categoryData"
                          [value]="item.catcode"
                          >{{ item.catname }}</mat-option
                        >
                      </mat-select>
                      <small
                        *ngIf="
                          itemForm.controls['citemcatcode'].dirty &&
                          itemForm.hasError('required', 'citemcatcode')
                        "
                        class="text-danger"
                        >Category Under Required!</small
                      >
                    </mat-form-field>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600; width: 50%">
                    Item UOM
                  </p>
                  <div>
                    <app-mat-select-box
                      [formOptions]="uomData"
                      [controlName]="'citemuomcode'"
                      [label]="'Item UOM'"
                      [groupName]="itemForm"
                      [formAppearance]="'outline'"
                      selectWidth="201px"
                    ></app-mat-select-box>
                  </div>
                  <!-- <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                      style="width: 100%"
                    >
                      <mat-select
                        #eitemuomcode
                        placeholder="Item UOM"
                        formControlName="citemuomcode"
                        [(ngModel)]="itemuomcode"
                        [value]="itemuomcode"
                        (selectionChange)="changeUOM($event)"
                      >
                        <mat-option
                          *ngFor="let item of uomData"
                          [value]="item.uomcode"
                          >{{ item.uomname }}</mat-option
                        >
                      </mat-select>
                      <small
                        *ngIf="
                          itemForm.controls['citemuomcode'].dirty &&
                          itemForm.hasError('required', 'citemuomcode')
                        "
                        class="text-danger"
                        >Category Under Required!</small
                      >
                    </mat-form-field>
                  </div> -->
                </div>
              </div>
            </div>

            <p
              style="
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
                padding-bottom: 20px;
                padding-top: 20px;
              "
            >
              TAX DETAILS
            </p>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600; width: 50%">
                    Taxability Type
                  </p>
                  <div>
                    <app-mat-select-box
                      [formOptions]="taxableData"
                      [controlName]="'ctaxabletype'"
                      [label]="'Taxability Type'"
                      [groupName]="itemForm"
                      [formAppearance]="'outline'"
                      selectWidth="201px"
                    ></app-mat-select-box>
                  </div>
                  <!-- <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                      style="width: 100%"
                    >
                      <mat-select
                        placeholder="Taxability Type"
                        #etaxabletype
                        formControlName="ctaxabletype"
                        [(ngModel)]="taxabletype"
                        [value]="taxabletype"
                        (selectionChange)="changeTaxability($event)"
                      >
                        <mat-option value="Taxable">Taxable</mat-option>
                        <mat-option value="Nil Rated">Nil Rated</mat-option>
                        <mat-option value="Exempt">Exempt</mat-option>
                        <mat-option value="Not Applicable"
                          >Not Applicable</mat-option
                        >
                      </mat-select>
                      <small
                        *ngIf="
                          itemForm.controls['ctaxabletype'].dirty &&
                          itemForm.hasError('required', 'ctaxabletype')
                        "
                        class="text-danger"
                        >Category Under Required!</small
                      >
                    </mat-form-field>
                  </div> -->
                </div>
              </div>

              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600; width: 50%">
                    Type of Supply
                  </p>
                  <div>
                    <app-mat-select-box
                      [formOptions]="supplyData"
                      [controlName]="'ctypeofsupply'"
                      [label]="'Type of Supply'"
                      [groupName]="itemForm"
                      [formAppearance]="'outline'"
                      selectWidth="201px"
                    >
                    </app-mat-select-box>
                  </div>
                  <!-- <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                      style="width: 100%"
                    >
                      <div class="mb-0">
                        <mat-select
                          placeholder="Type of Supply"
                          #ectypeofsupply
                          formControlName="ctypeofsupply"
                          [(ngModel)]="typeofsupply"
                          [value]="typeofsupply"
                          (selectionChange)="changeTOS($event)"
                        >
                          <mat-option value="Goods">Goods</mat-option>
                          <mat-option value="Services">Services</mat-option>
                        </mat-select>
                        <small
                          *ngIf="
                            itemForm.controls['ctypeofsupply'].dirty &&
                            itemForm.hasError('required', 'ctypeofsupply')
                          "
                          class="text-danger"
                          >Category Under Required!</small
                        >
                      </div>
                    </mat-form-field>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="itemForm"
                  labelText="GST"
                  [placeholderText]="'GST'"
                  [controlName]="'cgst'"
                  [modelName]="gst"
                ></app-mat-input>
              </div>
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="itemForm"
                  labelText="CESS"
                  [placeholderText]="'CESS'"
                  [controlName]="'ccess'"
                  [modelName]="cess"
                ></app-mat-input>
              </div>
            </div>

            <app-action-button
              [loading]="loading"
              [isSave]="isCreateStockItem"
              (clickSave)="submit()"
              (clickClearAll)="clear()"
              (clickUpdate)="update()"
            ></app-action-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
