<div>
  <p style="font-weight: 700; font-size: 0.875rem">Summary</p>
  <table class="table col-12 p-0">
    <thead style="color: #333843; background-color: rgba(217, 236, 244, 0.28)">
      <th
        *ngFor="let item of columns"
        style="
          font-size: 12px;
          border-top: 1px solid white;
          height: 56px;
          font-weight: 600;
          text-align: center;
        "
      >
        {{ item.title }}
      </th>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of productsData; let i = index"
        style="
          font-size: 0.75rem;
          background-color: rgba(217, 236, 244, 0.28);
          border-top: 4px solid white !important;
          text-align: center;
        "
      >
        <td>
          {{ i + 1 }}
        </td>
        <td style="padding-left: 4%">
          <p>{{ data.pname }}</p>
          <p>Material · Mild Steel</p>
        </td>
        <td>
          {{ data.sku }}
        </td>
        <td>
          {{ data.hsn }}
        </td>
        <td>
          {{ data.rate | currency : "INR" }}
        </td>
        <td>
          {{ data.pqty }}
        </td>
        <td style="text-align: right">
          {{ data.total | currency : "INR" }}
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
  <div
    class="d-flex flex-wrap justify-content-between"
    style="
      margin-top: -12px;
      height: 48px;
      align-items: center;
      padding: 8px;
      background-color: rgba(217, 236, 244, 0.28);
      border: 1px solid rgba(217, 236, 244, 0.28);
    "
  >
    <p>CGST</p>
    <p>1,000</p>
  </div>
  <div
    style="
      margin-top: 4px;
      height: 48px;
      padding: 8px;
      align-items: center;
      background-color: rgba(217, 236, 244, 0.28);
      border: 1px solid rgba(217, 236, 244, 0.28);
    "
    class="d-flex flex-wrap justify-content-between"
  >
    <p>SGST</p>
    <p>1,000</p>
  </div>
  <div
    style="
      margin-top: 4px;
      height: 48px;
      padding: 8px;
      background-color: rgba(217, 236, 244, 0.28);
      border: 1px solid rgba(217, 236, 244, 0.28);
    "
    class="d-flex flex-wrap justify-content-between align-items-center"
  >
    <p>IGST</p>
    <p>1,000</p>
  </div>
  <div
    style="
      margin-top: 4px;
      height: 48px;
      padding: 8px;
      align-items: center;
      background-color: rgba(217, 236, 244, 0.28);
      border: 1px solid rgba(217, 236, 244, 0.28);
    "
    class="d-flex flex-wrap justify-content-between"
  >
    <p style="font-size: 0.875rem; font-weight: 700; color: #333843">
      Subtotal
    </p>
    <p style="font-size: 0.875rem; font-weight: 700; color: #333843">
      1,00,000
    </p>
  </div>
</div>
