<div
  class="content-wrapper d-flex justify-content-center align-items-center"
  *ngIf="loading"
>
  <div class="spinner-grow spinner-grow-lg" role="status"></div>
</div>
<div *ngIf="!loading" class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="d-flex flex-wrap align-items-center justify-content-end pb-3">
      <app-mat-button
        buttonColor="#F9F9FC"
        svgIconToDisplay="Download"
        paddingValue="0px 13px"
        borderValues="1px solid #E0E2E7"
        buttonHeight="40px"
        (onClickButton)="downloadAsPDF()"
      >
      </app-mat-button>
      <!-- <app-mat-select-box
        [controlName]="'SelectSaveOptions'"
        [groupName]="purchaseOrderDetailsForm"
        [formOptions]="saveAsOptions"
        selectWidth="145px"
      ></app-mat-select-box> -->

      <app-mat-select-box
        [controlName]="'SelectSaveOptions'"
        [groupName]="'salesOrderDetailsForm'"
        selectWidth="130px"
        IconHeightWidth="23px"
        label="Download As"
      ></app-mat-select-box>

      <app-mat-button
        title="Create New Order"
        buttonColor="#419FC7"
        textColor="#FFFFFF"
        titleFontSize="0.875rem"
        titleFontWeight="600"
        iconColor="white"
        icon="bi bi-plus"
        buttonHeight="40px"
        (onClickButton)="onClickButton()"
      >
      </app-mat-button>
    </div>
    <div id="contentToSave" #contentToSave>
      <div
        class="d-flex flex-wrap justify-content-between align-items-center"
        style="
          background-color: white;
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #e0e2e7;
          margin-bottom: 4px;
        "
      >
        <app-address-card></app-address-card>
        <div>
          <div
            class="d-flex flex-wrap justify-content-between"
            style="gap: 20px"
          >
            <p style="color: #333843">Purchase Order No</p>
            <p style="color: #419fc7">{{ purchaseOrderData.pono }}</p>
          </div>
          <div
            class="d-flex flex-wrap justify-content-between"
            style="gap: 20px"
          >
            <p style="color: #333843">Purchase Order Date</p>
            <p style="color: #419fc7">
              {{ purchaseOrderData.podate.split(" ")[0] }}
            </p>
          </div>
          <!-- *ngIf="purchaseOrderData.expdeliverydate" -->
          <div
            class="d-flex flex-wrap justify-content-between"
            style="gap: 20px"
          >
            <p style="color: #333843">Due Date</p>
            <p style="color: #419fc7">
              {{ purchaseOrderData.expdeliverydate }}
            </p>
          </div>
          <div
            class="d-flex flex-wrap justify-content-between"
            style="gap: 20px"
          >
            <p style="color: #333843">Reference</p>
            <p style="color: #419fc7">{{ purchaseOrderData.refno }}</p>
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-wrap justify-content-between"
        style="
          background-color: white;
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #e0e2e7;
        "
      >
        <app-address-card
          [addressHeader]="'NAME OF THE CLIENT'"
          [addressTitle]="purchaseOrderData.companydisplayname"
          [addressLine1]="addressLine1"
          [addressLine2]="addressLine2"
          [gstNumber]="purchaseOrderData.gstno"
          [contactNumber]="purchaseOrderData.contactphone"
        ></app-address-card>
        <app-address-card
          [addressHeader]="'DELIVERY ADDRESSS'"
          [addressTitle]="purchaseOrderData.companydisplayname"
          [addressLine1]="deliveryAddressLine1"
          [addressLine2]="deliveryAddressLine2"
          [gstNumber]="purchaseOrderData.gstno"
          [contactNumber]="purchaseOrderData.contactphone"
        ></app-address-card>
      </div>
      <app-reference-details
        [transport]="purchaseOrderData.transport"
        [totalCount]="productsData.length"
        [refNumber]="purchaseOrderData.refno"
      ></app-reference-details>
      <div
        style="
          background-color: white;
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #e0e2e7;
          margin-top: 4px;
        "
      >
        <app-details-table
          [productsData]="productsData"
          [sGstValue]="sGst"
          [iGstValue]="iGst"
          [totalValue]="Total"
          [cGstValue]="cGst"
        ></app-details-table>
      </div>
      <div style="margin-top: 8px">
        <p style="color: #333843; font-weight: 700">NOTES:</p>
        <p style="color: #333843; font-weight: 700">
          1. Please send the invoice copy to the marketing office
        </p>
        <p style="color: #333843; font-weight: 700">
          2. Only fresh material to be loaded
        </p>
        <p style="color: #333843; font-weight: 700">
          3. The test certificate should sent along with the material
        </p>
        <p style="color: #333843; font-weight: 700">
          4. Please do not send excess Quantity
        </p>
      </div>
      <div
        class="d-flex flex-wrap justify-content-between"
        style="margin-top: 8%"
      >
        <p style="color: #333843; font-weight: 700">Ordered By</p>
        <p style="color: #333843; font-weight: 700">SO Authorized By</p>
      </div>
    </div>
  </div>
</div>
