<div class="content-wrapper">
    <div class="p-4" style="background-color: #f9f9fc">
        <div class="pb-3">
            <app-reports-header 
                title="Payment Voucher (Bank)" 
                [isDownloadNeeded]="false"
                [isReports]="false"
                buttonTitle="List of Bank Payment" 
                (onClickCreateButton)="onClickButton()">
            </app-reports-header>
        </div>

        <div style="
          background-color: white;
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #e0e2e7;
          margin-bottom: 4px;
        "
        >
            <form [formGroup]="bankPaymentForm">
                <div class="row">
                    <div class="col-12">
                        <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
                            <div class="col-lg-6 col-md-12 pb-2">
                                <app-mat-input
                                    [groupName]="bankPaymentForm"
                                    labelText="Voucher No"
                                    [placeholderText]="'No'"
                                    [controlName]="'cvoucherno'"
                                ></app-mat-input>
                            </div>

                            <div class="col-lg-6 col-md-12 pb-2">
                                <div
                                    class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                                >
                                    <p style="color: #667085; font-weight: 600">Voucher Date <span style="color: red">*</span></p>
                                    <div class="col-6 col-sm-6">
                                        <mat-form-field appearance="outline" style="width: 100%;">                    
                                            <input matInput name="vchdate" formControlName="cvchdate" [matDatepicker]="pickervchDate"
                                                placeholder="Select" [(ngModel)]="vchdate">
                                            <mat-datepicker-toggle 
                                                matSuffix [for]="pickervchDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickervchDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>  
                                </div>  
                            </div>  
                        </div>

                        <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
                            <div class="col-lg-6 col-md-12 pb-2">
                                <div
                                    class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                                >
                                    <p style="color: #667085; font-weight: 600">Payment Type <span style="color: red">*</span></p>
                                    <app-mat-select-box
                                        [formOptions]="paymentTypeData"
                                        [controlName]="'cpaymenttype'"
                                        [label]="'PICK ANY ONE'"
                                        [groupName]="bankPaymentForm"
                                        [formAppearance]="'outline'"
                                        selectWidth="201px"
                                    ></app-mat-select-box>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 pb-2">
                                <div
                                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                                >
                                    <p style="color: #667085; font-weight: 600">Customer Name <span style="color: red">*</span></p>
                                    <app-mat-select-box
                                        [formOptions]="customerData"
                                        [controlName]="'ccustomercode'"
                                        [label]="'Customer Name'"
                                        [groupName]="bankPaymentForm"
                                        [formAppearance]="'outline'"
                                        selectWidth="201px"
                                    ></app-mat-select-box>
                                </div>
                            </div>
                        </div>

                        <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
                            <div class="col-lg-6 col-md-12 pb-2">
                                <div
                                    class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                                >
                                    <p style="color: #667085; font-weight: 600">Account Name <span style="color: red">*</span></p>
                                    <app-mat-select-box
                                        [formOptions]="customerData"
                                        [controlName]="'caccountcode'"
                                        [label]="'Account Name'"
                                        [groupName]="bankPaymentForm"
                                        [formAppearance]="'outline'"
                                        selectWidth="201px"
                                    ></app-mat-select-box>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 pb-2">
                                <div
                                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                                >
                                    <p style="color: #667085; font-weight: 600">Payment Mode <span style="color: red">*</span></p>
                                    <app-mat-select-box
                                        [formOptions]="paymentModeData"
                                        [controlName]="'cpaymentmode'"
                                        [label]="'Payment Mode'"
                                        [groupName]="bankPaymentForm"
                                        [formAppearance]="'outline'"
                                        selectWidth="201px"
                                    ></app-mat-select-box>
                                </div>
                            </div>
                        </div>

                        <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
                            <div class="col-lg-6 col-md-12 pb-2">
                              <app-mat-input
                                [groupName]="bankPaymentForm"
                                labelText="Voucher Amount"
                                [placeholderText]="'Voucher Amount'"
                                [controlName]="'cvoucheramount'"
                              ></app-mat-input>
                            </div>
                            <div class="col-lg-6 col-md-12 pb-2">
                              <app-mat-input
                                [groupName]="bankPaymentForm"
                                labelText="Remarks"
                                [placeholderText]="'Remarks'"
                                [controlName]="'cremarks'"
                              ></app-mat-input>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>