<div class="content-wrapper">
  <div class="card m-3" style="background-color: #f7f7f7;">
    <div class="card-header" style="background-color: #fff;">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <div class="header-title">Update Goods Receipt Note (GRN)</div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <div style="text-align: right;">
            <button type="button" class="btn btn-labeled btn-info btn-sm" (click)="gotoGrnList()">
              <span class="btn-label"><i class="fa fa-plus-square" style="margin-right: 5px;"></i></span>GRN List
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body m-2 p-0">
      <form [formGroup]="formGRN" onkeydown="return event.key != 'Enter';">
        <div class="card p-2">

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2"> GRN No *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input #ecess type="text" readonly="true" matInput formControlName="cinvno" [(ngModel)]="invno"
                autocomplete="off" required>
              </mat-form-field>
            </div>  
          </div>
          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2"> GRN Date *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput formControlName="cinvdate" [matDatepicker]="pickerInvdate" placeholder="Select"
                  [(ngModel)]="invdate">
                <mat-datepicker-toggle matSuffix [for]="pickerInvdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerInvdate></mat-datepicker>
                <small *ngIf="formGRN.controls['cinvdate'].dirty && formGRN.hasError('required','cinvdate')"
                  class="text-danger">Date Required!</small>
              </mat-form-field>
            </div>  
          </div>


          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mt-2"> Purchase Order No</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                                
                <input #ecess type="text" matInput formControlName="cpono" [(ngModel)]="pono">             
              </mat-form-field>
            </div>  
          </div>
          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mt-2"> Purchase Order Date</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput formControlName="cpodate" [matDatepicker]="pickerpoDate" placeholder="Select"
                  [(ngModel)]="podate">
                <mat-datepicker-toggle matSuffix [for]="pickerpoDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerpoDate></mat-datepicker>
              </mat-form-field>
            </div>  
          </div>        

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2">Account Name *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">             
                <!-- <input #evchaccount type="text" matInput formControlName="cvchaccount" [(ngModel)] = "vchaccount" readonly="true" autocomplete="off"> -->
                <input matInput #pacc placeholder="Select Account" aria-label="Select Account" formControlName="cpacc"
                  [formControl]="accSearch" #eacc [matAutocomplete]="accauto" [(ngModel)]="vchaccount">
                <mat-autocomplete #accauto="matAutocomplete">
                  <cdk-virtual-scroll-viewport [ngStyle]="{height: '200px'}" itemSize="25">
                    <mat-option *ngFor="let r of filteredAccounts | async" [value]="r.ledgername"
                      (onSelectionChange)="accountChanged($event,r)">
                      <span>{{ r.ledgername }}</span>
                    </mat-option>
                  </cdk-virtual-scroll-viewport>
                </mat-autocomplete>
              </mat-form-field>
            </div>  
          </div>

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2">Voucher Type *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label></mat-label>
                <input #evchtype type="text" matInput formControlName="cvchtype" [(ngModel)]="vchtype" readonly="true"
                  autocomplete="off">
                <button class="btn btn-outline-primary btn-sm" style="padding: 5px 10px;margin-top: 8px;"
                  (click)="callChangeVoucherType()" matSuffix>
                  <i class="bi bi-back"></i>
                </button>
              </mat-form-field>
            </div>  
          </div>         
        </div>

        <div class="card p-2">
          <div class="row mb-3 m-0 p-0">     
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xxl-12 mb-0">
              <h5 class="p-0 m-0" style="font-weight: 600;text-decoration: underline; color:#369dc4">BILL TO</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xxl-4 col-xxl-4 mb-0 xclass">
              <mat-form-field appearance="outline" style="width:100%">                    
                <input matInput #evendorname       
                      aria-label="Vendor"
                      [ngModel]="vendorname" formControlName="cvendorname"
                      [matAutocomplete]="auto"
                      [formControl]="vendorSearch" />
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let i of filteredVendors | async" [value]="i.CompanyDisplayName" (onSelectionChange)="vendorChanged($event,i)">                      
                        <span>{{i.CompanyDisplayName}}</span> |
                        <small>{{i.BilingAddress}}</small>
                      </mat-option>
                    </mat-autocomplete>
                    <button class="btn btn-outline-danger btn-sm material-icons" style="padding: 5px 10px;margin-top: 8px;"  (click)="changeVendor()" matSuffix>
                      arrow_drop_down                        
                    </button>
              </mat-form-field> 
            </div>
          </div>

          <div class="row m-0 p-0" *ngIf="vendorcode">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2 mb-2">  
              <div class="card p-2 vscard text-center" style="height: auto; background-color: #fafafa;">
                <div class="vscardheader">Outstanding</div>   
                <hr class="p-0 m-0">             
                <div class="d-flex justify-content-center m-auto vscardoutstanding">
                  {{ vendoroutstanding ? (vendoroutstanding | currency: 'INR') : ('0.0' | currency:'INR') }}
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2 mb-2">  
              <div class="card p-2 vscard text-center" style="height: auto; background-color: #fafafa;">
                <div class="vscardheader">GST Details</div>   
                <hr class="p-0 m-0">               
                <div>{{vendorgstno}}</div>
                <div>{{vendorgstTreatment}}</div>
                <div>{{vendorstate}}</div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-2">  
              <div class="card p-2 vscard text-center" style="height: auto; background-color: #fafafa;" [title]="vendorbilling">
                <div class="vscardheader">Vendor Address</div>    
                <hr class="p-0 m-0">                
                <div >{{vendorbilling}}</div>
              </div>              
            </div>     
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xxl-2 col-xxl-2 mb-2">
              <div class="card p-2 vscard text-center" style="height: auto; background-color: #fafafa;">
                <div class="row">
                  <div class="col-12"> 
                    <div (click)="showPendingPODetails()" style="cursor:pointer">
                      <div class="heading">Pending PO's</div>
                        <hr class="p-0 m-0" />
                        <div style="font-weight:600;font-size: 1.4rem; color:#D61355; text-align: center; margin-top: 10px;">
                          {{vendorpodatacount}}
                        </div>
                      <div style="font-size: 0.7rem;text-align: center;" class="p-0">Click to View</div>
                    </div>
                  </div>
                </div>                
              </div>                                   
            </div> -->
          </div>      
          
          <div class="row m-0 p-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xxl-12 mb-0">
              <h5 class="p-0 m-0" style="font-weight: 600;text-decoration: underline; color:#369dc4">SUPPLIER BILL DETAILS</h5>
          </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
              <label class="m-0 p-0" style="font-weight: 500;">Supplier Bill No</label>
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input #esb type="text" matInput formControlName="csubinvno" (keyup.enter)="moveFocus(esbd)"
                  [(ngModel)]="subinvno" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-3">
              <label class="m-0 p-0" style="font-weight: 500;">Supplier Bill Date </label>
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput #esbd formControlName="csupinvdate" [matDatepicker]="pickerSubInvDate"
                  placeholder="Select" [(ngModel)]="subinvdate">
                <mat-datepicker-toggle matSuffix [for]="pickerSubInvDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerSubInvDate></mat-datepicker>
              </mat-form-field>
              <!-- <small *ngIf="formGRN.controls['cinvdate'].dirty && formGRN.hasError('required','cinvdate')" class="text-danger">Date Required!</small>                                       -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
              <label class="m-0 p-0" style="font-weight: 500;">Exp.. Delivery Date </label>
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput formControlName="cexpdelidate" [matDatepicker]="pickerExpDeliDate" placeholder="Select"
                  [(ngModel)]="expdelidate">
                <mat-datepicker-toggle matSuffix [for]="pickerExpDeliDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerExpDeliDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
              <label class="m-0 p-0" style="font-weight: 500;">Payment Terms</label>
              <mat-form-field class="example-full-width" appearance="outline" style="width:100%">                
                <mat-select #etaxabletype formControlName="cpaymentTerm" [(ngModel)]="paymentTerm"
                  (selectionChange)="getPayTerm($event)">
                  <mat-option value="15">15 Days</mat-option>
                  <mat-option value="30">30 Days</mat-option>
                  <mat-option value="45">45 Days</mat-option>
                  <mat-option value="60">60 Days</mat-option>
                  <mat-option value="90">90 Days</mat-option>
                  <mat-option value="180">180 Days</mat-option>
                  <mat-option value="365">365 Days</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
              <label class="m-0 p-0" style="font-weight: 500;">Reference #</label>
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input #eref type="text" matInput formControlName="crefno" [(ngModel)]="refno" autocomplete="off">
              </mat-form-field>
            </div>
          </div>          
        </div>           
        <!-- <app-vendor-component (vendorpodataChanged)="onVendorpodataChanged($event)"
        (vendorCode)="VendorCode($event)"></app-vendor-component> -->       
      </form>

      <div class="card p-2">
        <div class="row" class="row m-0 p-0">
          <div class="col-12 mt-2" style="overflow: hidden;height: auto;">
            <div style="overflow:auto;width: 100%;">

              <table #tabledata mat-table [dataSource]="listData" style="width: 100%;" class="table-bordered table-hover">

                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> X </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <button class="btn btn-danger" (click)="remove(i)" style="margin-left:10px">
                      X
                    </button>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 150px;">PRODUCT </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <div>
                      <input #eprod matInput placeholder="Product" aria-label="Product" #inputState
                        [matAutocomplete]="stateAutoComplete" [(ngModel)]="element.product"
                        (keyup.enter)="onProdKeydown($event,i)">
                      <mat-autocomplete #stateAutoComplete="matAutocomplete">
                        <mat-option *ngFor="let r of filterProducts(element.product)" [value]="r.itemname"
                          (onSelectionChange)="prodChanged($event,r,i)">
                          <span>{{r.itemname}}</span> |
                          <small>GST : {{r.gst}}</small>
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                    <div>
                      <span> {{element.hsn}}</span>
                    </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    <div class="row">
                      <div (click)="addRow()" title="Add More Products!">
                        <img src="assets/add.png" height="32px" width="32px" />
                      </div>
                      <div (click)="removeAll()" title="Remove All Products!">
                        <img src="assets/deleteall.png" height="32px" width="32px" />
                      </div>
                    </div>

                  </td>
                </ng-container>
                <ng-container matColumnDef="qty">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> QTY</th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <div class="row">
                      <input #eqty matInput [(ngModel)]="element.qty" class="input_right" type="number"
                        style="padding:5px" (focusin)="Empty($event)" (focusout)="return($event)" (click)="Empty($event)"
                        (keyup.enter)="onQtyKeydown($event,i)" />
                    </div>
                    <div class="row">
                      <div class="col-12 text-center" style="color:gray">
                        <hr class="p-0 m-0" />
                        {{element.uom}}
                      </div>
                    </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="rate">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> BASIC RATE </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <input #erate [(ngModel)]="element.rate" type="number" (focusin)="Empty($event)"
                      (focusout)="return($event)" (click)="Empty($event)" class="input_right" matInput
                      (ngModelChange)="onRateChange($event,i)" (keyup.enter)="onRateKeydown($event,i)" />
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="addon">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> ADDON</th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <input #etransport [(ngModel)]="element.addon" type="number" matInput
                      (keyup.enter)="onAddonRateKeydown($event,i)" />
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="subtotal">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> SUB TOTAL </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <input #ediscvalue readonly="true" type="number" class="input_right" [(ngModel)]="element.subtotal"
                      matInput />
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="disc">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> DISCOUNT %</th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <div class="row">
                      <div class="col-7 col-sm-8 col-md-9 col-lg-8 col-xl-9 col-xxl-11">
                        <input #edisc [(ngModel)]="element.disc" type="number" style="padding:5px" class="input_right"
                          (focusin)="Empty($event)" (focusout)="return($event)" (click)="Empty($event)"
                          (ngModelChange)="onDiscChange($event,i)" matInput (keyup.enter)="onDiscKeydown($event,i)" />
                      </div>
                      <div class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 col-xxl-1">
                        %
                      </div>
                    </div>
                    <hr class="p-0 m-0" />
                    <div style="text-align: right;margin-right: 10px; padding: 5px;">{{element.discvalue | currency:'INR'
                      }}
                    </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="taxable">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> TAXABLE </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <input #ediscvalue readonly="true" type="number" class="input_right" [(ngModel)]="element.taxable"
                      matInput />
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="gst">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> GST %</th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <div class="row">
                      <div class="col-7 col-sm-8 col-md-9 col-lg-8 col-xl-9 col-xxl-11">
                        <input #etax [(ngModel)]="element.gst" type="number" (focusin)="Empty($event)"
                          (focusout)="return($event)" (click)="Empty($event)" style="padding:5px" class="input_right"
                          matInput (ngModelChange)="onTaxKeyChange($event,i)" (focusout)="onTaxKeydown($event,i)"
                          (keyup.enter)="onTaxKeydown($event,i)" />
                      </div>
                      <div class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 col-xxl-1">
                        %
                      </div>
                    </div>
                    <hr class="p-0 m-0" />
                    <div style="text-align: right;margin-right: 10px; padding: 5px;">{{element.gstvalue | currency:'INR'
                      }}
                    </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> AMOUNT </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <input #eamt readonly="true" matInput type="number" class="input_right" [(ngModel)]="element.amount"
                      (keyup.enter)="onAmountKeydown($event,i)" />
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
      </div>

      <!-- <div class="m-0">
        <div class="row p-0 m-0">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-7">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="card m-0 p-2">
                  <div *ngFor="let f of sdef">
                    <div class="row m-1">
                      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <input class="form-control form-control-sm" disabled [(ngModel)]="f.efieldname"
                          [value]="f.efieldname" />
                      </div>
                      <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                        <input class="form-control form-control-sm" [(ngModel)]="f.efieldvalue" [value]="f.efieldvalue"
                          type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-5 text-end">
            <div class="card m-0 p-0">
              <div class="row m-0 p-0 border">
                <div class="col-6 lblBox">
                  <div class="m-2">
                    <div class="lblBoxText">Sub Total</div>
                  </div>
                </div>
                <div class="col-6 amountFieldColor">
                  <div class="m-1 input_right">{{this.subtotal | currency:'INR'}}</div>
                </div>
              </div>
              <div class="row m-0 p-0 border">
                <div class="col-6 lblBox">
                  <div class="m-2">
                    <div class="lblBoxText">Discount Total</div>
                  </div>
                </div>
                <div class="col-6 amountFieldColor">
                  <div class="m-1 input_right">{{this.disctotal | currency:'INR'}}</div>
                </div>
              </div>
              <div class="row m-0 p-0 border" *ngFor="let i of acclistData.filteredData">
                <div class="col-6 lblBox">
                  <div class="m-2">
                    <div class="lblBoxText">{{i.accname}}</div>
                  </div>
                </div>
                <div class="col-6 amountFieldColor">
                  <div class="m-1 input_right">{{i.accvalue | currency:'INR'}}</div>
                </div>
              </div>
              <div class="row m-0 p-0 border" *ngFor="let i of gstlistData.filteredData; let ri = index"
                style="background-color: #ECF8F9;">
                <div class="col-5 lblBox">
                  <mat-form-field appearance="outline"
                    style="width: 100%; padding: 0em 0em 0em 0em !important; font-size: 0.7rem !important;">
                    <input #eprod matInput placeholder="Select" [(ngModel)]="i.accname" aria-label="Select" #inputState
                      [matAutocomplete]="stateAutoComplete" (input)="filterDefAccounts($event)">
                    <mat-autocomplete #stateAutoComplete="matAutocomplete">
                      <mat-option *ngFor="let r of filteredDef" [value]="r.ledgername"
                        (onSelectionChange)="gstaccChanged($event, r, ri)">
                        <span>{{ r.ledgername }}</span> |
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field appearance="outline"
                    style="width: 100%;padding: 0em 0em 0em 0em !important;font-size: 0.7rem !important;">
                    <input [(ngModel)]="i.accvalue" type="text" (input)="calculate()" (keypress)="forMoney($event)"
                      (click)="calculate()" (focusout)="calculate()" matInput (change)="gstInputChanged($event,ri)" />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field appearance="outline"
                    style="width: 100%;padding: 0em 0em 0em 0em !important;font-size: 0.7rem !important;">
                    <input [(ngModel)]="i.accgst" (keydown)="prevent($event)" matInput
                      [matAutocomplete]="sutoComplete" />
                    <mat-autocomplete #sutoComplete="matAutocomplete">
                      <mat-option *ngFor="let r of gstArray" (click)="calculate()" (focusout)="calculate()"
                        (onSelectionChange)="gstDDChanged($event,ri,r)" [value]="r.gst">{{r.gst}}</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-2 d-flex">
                  <mat-form-field appearance="outline"
                    style="width: 100%;padding: 0em 0em 0em 0em !important;font-size: 0.7rem !important;">
                    <input matInput readonly="true" [(ngModel)]="i.accgsttotvalue" />
                  </mat-form-field>
                  <button class="btn btn-danger btn-sm"
                    style="border-radius:5px;margin-left:10px;margin-right:10px;margin-top:8px;"
                    (click)="gstremove(ri)">X</button>
                </div>
              </div>
              <div class="row m-0 p-2 border">
                <a style="color: blue; cursor: pointer;" (click)="gstaddRow()">(+) Add Additional Charge</a>
              </div>
              <div class="row m-0 p-0 border">
                <div class="col-6 lblBox">
                  <div class="m-2">
                    <div class="lblBoxText">Total</div>
                  </div>
                </div>
                <div class="col-6 amountFieldColor">
                  <div class="m-1  input_right">{{ nettotal | currency:'INR'}}</div>
                </div>
              </div>
              <div class="row m-0 p-0 border">
                <div class="col-6 lblBox">
                  <div class="m-2">
                    <div class="lblBoxText">TCS Charge</div>
                  </div>
                </div>
                <div class="col-6 amountFieldColor">
                  <div class="row">
                    <div class="col-6" (focusout)="calculate()">
                      Rate
                      <input class="form-control input_right" type="text" (input)="calculate()"
                        (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                        (click)="Empty($event)" [(ngModel)]="tcsrate" (keyup.enter)="calculate()" />
                    </div>
                    <div class="col-6" (focusout)="calculate()">
                      Value
                      <input class="form-control input_right" type="text" (input)="calculate()"
                        (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                        (click)="Empty($event)" readonly [(ngModel)]="tcsvalue" (keyup.enter)="calculate()" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-0 p-0 border">
                <div class="col-6 lblBox">
                  <div class="m-2">
                    <div class="lblBoxText">Rounded off</div>
                  </div>
                </div>
                <div class="col-6 amountFieldColor" (focusout)="calculate()">
                  <input class="form-control input_right" type="text" (keypress)="forMoneyCal($event)"
                    (input)="calculate()" (focusin)="Empty($event)" (focusout)="return($event)" (click)="Empty($event)"
                    [(ngModel)]="roundedoff" (keyup.enter)="calculate()" />
                </div>
              </div>
              <div class="row m-0 p-0 border">
                <div class="col-6 p-2">
                  <div class="m-1">Closing </div>
                </div>
                <div class="col-6 amountFieldColor">
                  <div class="m-1 mt-3 input_right">{{ closingtotal | currency:'INR'}}</div>
                </div>
              </div>
            </div>
            <div class="card m-0 p-0 mt-2">
              <div class="row p-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <div class="subDetails m-1">Remarks :</div>
                  <div>
                    <textarea class="form-control fontvariation" [(ngModel)]="remarks"></textarea>
                  </div>
                </div>
              </div>
              <div class="row p-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <div class="subDetails m-1 ">Terms & Condition :</div>
                  <div>
                    <textarea class="form-control fontvariation" [(ngModel)]="termsandcondition"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row m-0 mt-0 p-0">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-7 p-0 m-0">
          <div class="card m-0 p-2 mr-2">
            <div *ngFor="let f of sdef">
              <div class="row m-1">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <input class="form-control form-control-sm" disabled [(ngModel)]="f.efieldname"
                    [value]="f.efieldname" />
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                  <input class="form-control form-control-sm" [(ngModel)]="f.efieldvalue" [value]="f.efieldvalue"
                    type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="card m-0 p-0 mt-2 mr-2">
            <div class="row p-2">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="subDetails m-1">Remarks :</div>
                <div>
                  <textarea class="form-control fontvariation" [(ngModel)]="remarks"></textarea>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="subDetails m-1 ">Terms & Condition :</div>
                <div>
                  <textarea class="form-control fontvariation" [(ngModel)]="termsandcondition"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-5 p-0 m-0">
          <div class="card m-0 p-2">                                  
            <div class="row">
                  <div class="col-2 m-auto"></div>
                  <div class="col-4 m-auto"> 
                    <div class="text-right">
                      <label class="mt-2">Sub Total </label>
                    </div>
                  </div>
                  <div class="col-6 m-auto"> 
                    <div class="text-right">
                      <mat-form-field appearance="outline" style="width: 100%;">                    
                        <input #ecess type="text" readonly="true" style="text-align: right;" name="ref" matInput [value]="this.subtotal | currency:'INR'"
                          autocomplete="off">
                      </mat-form-field>
                    </div>                     
                  </div>                            
            </div>          
            <div class="row">
                <div class="col-2 m-auto"></div>
                <div class="col-4 m-auto"> 
                  <div class="text-right">
                    <label class="mt-2">Discount Total</label>
                  </div>
                </div>
                <div class="col-6 m-auto"> 
                  <div class="text-right">
                    <mat-form-field appearance="outline" style="width: 100%;">                    
                      <input #ecess type="text" readonly="true" style="text-align: right;" name="ref" matInput [value]="this.disctotal | currency:'INR'"
                        autocomplete="off">
                    </mat-form-field>
                  </div>                     
                </div>                            
            </div>
            <div class="row" *ngFor="let i of acclistData.filteredData">
              <div class="col-2 m-auto"></div>
              <div class="col-4 m-auto"> 
                <div class="text-right">
                  <label class="mt-2">{{i.accname}}</label>
                </div>
              </div>
              <div class="col-6 m-auto"> 
                <div class="text-right">
                  <mat-form-field appearance="outline" style="width: 100%;">                    
                    <input #ecess type="text" readonly="true" style="text-align: right;" name="ref" matInput [value]="i.accvalue | currency:'INR'"
                      autocomplete="off">
                  </mat-form-field>
                </div>                     
              </div>                            
            </div>
            <div class="row" *ngFor="let i of gstlistData.filteredData; let ri = index" style="background-color: #e7f3f8;">                
              <div class="col-6 m-auto">
                <mat-form-field appearance="outline" style="width: 100%;background-color: #e7f3f8;" >
                  <input matInput placeholder="Select" [(ngModel)]="i.accname" aria-label="Select"
                    [matAutocomplete]="stateAutoComplete" (input)="filterDefAccounts($event)" (keyup.enter)="onAddtionalDDKeydown($event,ri)">
                    <mat-autocomplete #stateAutoComplete="matAutocomplete">
                      <mat-option *ngFor="let r of filteredDef" [value]="r.ledgername"
                        (onSelectionChange)="gstaccChanged($event, r, ri)">
                        <span>{{ r.ledgername }}</span> |
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
              </div> 
              <div class="col-6 m-auto">
                      <div class="row">
                        <div class="col-3">
                          <mat-form-field appearance="outline"
                          style="width: 100%;background-color: #e7f3f8;">
                         <input matInput #eAddCharge [(ngModel)]="i.accvalue" type="text" (input)="calculate()"
                           (keypress)="forMoney($event)" (click)="calculate()" (focusout)="calculate()" matInput
                           (keyup)="calculateAddChargeGST($event,ri)" (change)="calculateAddChargeGST($event,ri)" (keyup.enter)="onAddtionalAmountKeydown($event,ri)" />
                         </mat-form-field>
                        </div>
                        <div class="col-5">
                          <mat-form-field appearance="outline"
                          style="width: 100%;background-color: #e7f3f8;">
                          <input matInput [(ngModel)]="i.accgst" (keydown)="prevent($event)" matInput #eAddGstDD
                            [matAutocomplete]="sutoComplete"  (keyup.enter)="onAddtionalGSTKeydown($event,ri)" />                              
                            <div matSuffix>
                            <span class="material-symbols-outlined">
                              arrow_drop_down
                              </span>
                            </div> 
                          <mat-autocomplete #sutoComplete="matAutocomplete">
                            <mat-option *ngFor="let r of gstArray" (click)="calculate()" (focusout)="calculate()"
                              (onSelectionChange)="calculateAddChargeGST_DDChanged($event,ri,r)" [value]="r.gst">{{r.gst}}</mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        </div>
                        <div class="col-3">
                          <div class="mt-3">
                            <b>{{i.accgsttotvalue | currency:'INR'}}</b>
                          </div>
                        </div>
                        <div class="col-1 p-0 m-0">
                          <div (click)="gstremove(ri)" class="mt-2">
                            <span class="material-symbols-outlined">
                              delete
                              </span>
                          </div>
                        </div>
                      </div>                                                                      
              </div>                                       
            </div>
            <div class="mt-1">
              <a style="color: #369dc4; font-weight: 600; cursor: pointer;" (click)="gstaddRow()">(+) Add Additional Charge</a>
            </div>
            <div class="row">
              <div class="col-2 m-auto"></div>
              <div class="col-4 m-auto"> 
                <div class="text-right">
                  <label class="mt-2">Total </label>
                </div>
              </div>
              <div class="col-6 m-auto"> 
                <div class="text-right">
                  <mat-form-field appearance="outline" style="width: 100%;">                    
                    <input #ecess type="text" readonly="true" style="text-align: right;" name="ref" matInput [value]="this.nettotal | currency:'INR'"
                      autocomplete="off">
                  </mat-form-field>
                </div>                     
              </div>                            
             </div>
             <div class="row">
              <div class="col-2 m-auto"></div>
              <div class="col-4 m-auto"> 
                <div class="text-right">
                  <label class="mt-2">TCS Charge </label>
                </div>
              </div>
              <div class="col-3 m-auto"> 
                <div class="text-right">
                  <mat-form-field appearance="outline" style="width: 100%;">                                                                
                      <input #ecess type="text" style="text-align: right;" name="ref" matInput 
                      (input)="calculate()" (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                      (click)="Empty($event)" [(ngModel)]="tcsrate" (keyup.enter)="calculate()"
                        autocomplete="off">                                           
                  </mat-form-field>
                </div>
              </div>
              <div class="col-3 m-auto"> 
                  <div class="text-right">
                    <mat-form-field appearance="outline" style="width: 100%;">       
                      <input #ecess type="text" readonly="true" style="text-align: right;" name="ref" matInput 
                      (input)="calculate()" (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                      (click)="Empty($event)" [(ngModel)]="tcsvalue" (keyup.enter)="calculate()"
                        autocomplete="off">                                                  
                    </mat-form-field>
                  </div>                     
              </div>                            
             </div>
             <div class="row">                
              <div class="col-6 m-auto"> 
                <div class="text-right">
                  <mat-checkbox class="mr-3" [(ngModel)]="chk" [checked]="true" (ngModelChange)="callRoundFunctions($event)">{{roundmethod}}</mat-checkbox>
                  <label class="mt-2">Rounded off </label>
                </div>
              </div>
              <div class="col-6 m-auto"> 
                <div class="text-right">
                  <mat-form-field appearance="outline" style="width: 100%;">                        
                    <input #ecess type="text" style="text-align: right;" name="ref" matInput 
                      (input)="calculate()" (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                      (click)="Empty($event)" [(ngModel)]="roundedoff" (keyup.enter)="calculate()"
                        autocomplete="off">                                              
                  </mat-form-field>
                </div>                     
              </div>                            
             </div>
             <div class="row">
              <div class="col-2 m-auto"></div>
              <div class="col-4 m-auto"> 
                <div class="text-right">
                  <label class="mt-2">Closing Value </label>
                </div>
              </div>
              <div class="col-6 m-auto"> 
                <div class="text-right">
                  <mat-form-field appearance="outline" style="width: 100%;">                        
                    <input #ecess type="text" readonly="true" style="text-align: right;" name="ref" matInput 
                      (input)="calculate()" (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                      (click)="Empty($event)" [value]="closingtotal | currency:'INR'" (keyup.enter)="calculate()"
                        autocomplete="off">                                              
                  </mat-form-field>
                </div>                     
              </div>                            
             </div>
          </div>
        </div>
      </div>   



    </div>


    <div class="row text-center mt-4 mb-2">
      <div class="col-12">
        <button #esave class="btn btn-success my-button" (click)="submit()" style="margin-right: 5px;"
          [disabled]="loading">
          <i class="bi bi-save" *ngIf="!loading"></i>
          <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div>
          Update Voucher
        </button>
        <button class="btn btn-danger my-button" (click)="clear()">
          <i class="bi bi-x-square"></i>
          Clear
        </button>
        <button class="btn btn-info my-button" style="margin-left: 5px;"  (click)="gotoGrnList()">
          <i class="bi bi-backspace"></i>
          Cancel & Go Back
        </button>
      </div>
    </div>
  </div>
</div>
