<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div *ngIf="isCreateLedger; else elseBlock">
        <app-reports-header
          title="CREATE LEDGERS"
          [reportFormGroupName]="ledgerForm"
          buttonTitle="Ledger List"
          [isDownloadNeeded]="false"
          (onClickCreateButton)="onClickButton()"
        ></app-reports-header>
      </div>
      <ng-template #elseBlock>
        <app-reports-header
          title="UPDATE LEDGER DETAILS"
          [reportFormGroupName]="ledgerForm"
          [isDownloadNeeded]="false"
          buttonTitle="Add Ledger"
          (onClickCreateButton)="onClickAddButton()"
        ></app-reports-header>
      </ng-template>
    </div>
    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <form [formGroup]="ledgerForm">
        <div class="row">
          <div class="col-12">
            <p
              style="
                padding-bottom: 12px;
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
              "
            >
              LEDGER DETAIL
            </p>
            <div class="p-0 d-flex justify-content-between col-12">
              <div class="col-6">
                <app-mat-input
                  [groupName]="ledgerForm"
                  labelText="Ledger Name"
                  [placeholderText]="'Ledger Name'"
                  [formControlName]="'cledgerName'"
                ></app-mat-input>
              </div>

              <div
                class="col-6 d-flex mb-0 align-items-center justify-content-between"
              >
                <p style="color: #667085; font-weight: 600">Ledger Under</p>
                <div
                  class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                >
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                    style="width: 100%; margin-top: 6px !important"
                  >
                    <input
                      type="text"
                      #eprod
                      placeholder="Pick one"
                      aria-label="Number"
                      [(ngModel)]="ledgerUnderName"
                      formControlName="cledgerUnder"
                      matInput
                      [formControl]="parentTextBox"
                      [matAutocomplete]="auto"
                    />
                    <span matSuffix>
                      <mat-icon svgIcon="arrowDown"></mat-icon
                    ></span>

                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option
                        *ngFor="let r of filteredParent | async"
                        [value]="r.groupname"
                        (onSelectionChange)="parentChanged($event, r)"
                      >
                        <span>{{ r.groupname }}</span> |
                        <small>#{{ r.groupcode }}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <!-- <app-input-auto-complete
                    #eprod
                    [placeholderText]="'Pick one'"
                    [svgIconNeeded]="false"
                    [optionsList]="ledgerDropDownData"
                    [groupName]="ledgerForm"
                    [controlName]="'cledgerUnder'"
                    inputWidth="200px"
                  ></app-input-auto-complete> -->
                </div>
              </div>
            </div>

            <div class="col-6">
              <app-mat-input
                inputType="text"
                [groupName]="ledgerForm"
                labelText="GSTIN No"
                [placeholderText]="'GSTIN No'"
                [formControlName]="'cgstin'"
              ></app-mat-input>
            </div>

            <p
              style="
                padding-bottom: 20px;
                padding-top: 20px;
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
              "
            >
              LEDGER DETAIL
            </p>
            <div class="p-0 d-flex justify-content-between col-12">
              <div
                class="col-6 d-flex mb-0 align-items-center justify-content-between"
              >
                <p style="color: #667085; font-weight: 600">Country</p>
                <div
                  class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                >
                  <app-mat-select-box
                    [formOptions]="countryDropDownData"
                    [controlName]="'ccountry'"
                    [label]="'Country'"
                    [groupName]="ledgerForm"
                    [formAppearance]="'outline'"
                  ></app-mat-select-box>
                </div>
              </div>
              <div
                class="col-6 d-flex mb-0 align-items-center justify-content-between"
              >
                <p style="color: #667085; font-weight: 600">State</p>
                <div
                  class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                >
                  <app-mat-select-box
                    [formOptions]="stateDropDownData"
                    [controlName]="'cstate'"
                    [label]="'State'"
                    [groupName]="ledgerForm"
                    [formAppearance]="'outline'"
                  ></app-mat-select-box>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex mb-0 align-items-center" style="gap: 20%">
              <p style="color: #667085; font-weight: 600">Address</p>
              <mat-form-field
                class="example-full-width"
                appearance="outline"
                style="width: 100%; margin-top: 6px !important"
              >
                <textarea
                  style="height: 68px"
                  placeholder="Address"
                  type="text"
                  matInput
                  formControlName="caddress"
                  [(ngModel)]="address"
                  autocomplete="off"
                ></textarea>
              </mat-form-field>
            </div>

            <div class="p-0 col-6">
              <app-mat-input
                [groupName]="ledgerForm"
                labelText="Pincode"
                [placeholderText]="'Pincode'"
                [formControlName]="'cpincode'"
              ></app-mat-input>
            </div>
            <app-action-button
              [loading]="loading"
              [isSave]="isCreateLedger"
              (clickSave)="submit()"
              (clickClearAll)="clearAll()"
              (clickUpdate)="update()"
            ></app-action-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
