<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div *ngIf="isCreateLedger; else elseBlock">
        <app-reports-header
          title="CREATE LEDGERS"
          [reportFormGroupName]="ledgerForm"
          buttonTitle="Ledger List"
          [isDownloadNeeded]="false"
          (onClickCreateButton)="onClickButton()"
        ></app-reports-header>
      </div>
      <ng-template #elseBlock>
        <app-reports-header
          title="UPDATE LEDGER DETAILS"
          [reportFormGroupName]="ledgerForm"
          [isDownloadNeeded]="false"
          buttonTitle="Add Ledger"
          (onClickCreateButton)="onClickAddButton()"
        ></app-reports-header>
      </ng-template>
    </div>
    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <form [formGroup]="ledgerForm">
        <div class="row">
          <div class="col-12">
            <p
              style="
                padding-bottom: 12px;
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
              "
            >
              LEDGER DETAIL
            </p>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="ledgerForm"
                  labelText="Ledger Name"
                  [placeholderText]="'Ledger Name'"
                  [controlName]="'cledgerName'"
                ></app-mat-input>
              </div>

              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600">Ledger Under</p>
                  <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                      style="width: 100%; margin-top: 6px !important"
                    >
                      <input
                        type="text"
                        #eprod
                        placeholder="Pick one"
                        aria-label="Number"
                        [(ngModel)]="ledgerUnderName"
                        formControlName="cledgerUnder"
                        matInput
                        [formControl]="parentTextBox"
                        [matAutocomplete]="auto"
                      />
                      <span matSuffix>
                        <mat-icon svgIcon="arrowDown"></mat-icon
                      ></span>

                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                          *ngFor="let r of filteredParent | async"
                          [value]="r.groupname"
                          (onSelectionChange)="parentChanged($event, r)"
                        >
                          <span>{{ r.groupname }}</span> |
                          <small>#{{ r.groupcode }}</small>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  inputType="text"
                  [groupName]="ledgerForm"
                  labelText="GSTIN No"
                  [placeholderText]="'GSTIN No'"
                  [controlName]="'cgstin'"
                ></app-mat-input>
              </div>
            </div>

            <p
              style="
                padding-bottom: 20px;
                padding-top: 20px;
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
              "
            >
              LEDGER DETAIL
            </p>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600">Country</p>
                  <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <app-mat-select-box
                      [formOptions]="countryDropDownData"
                      [controlName]="'ccountry'"
                      [label]="'Country'"
                      [groupName]="ledgerForm"
                      [formAppearance]="'outline'"
                    ></app-mat-select-box>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 pb-2">
                <div
                  class="col-12 d-flex flex-wrap align-items-center justify-content-between"
                >
                  <p style="color: #667085; font-weight: 600">State</p>
                  <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                  >
                    <app-mat-select-box
                      [formOptions]="stateDropDownData"
                      [controlName]="'cstate'"
                      [label]="'State'"
                      [groupName]="ledgerForm"
                      [formAppearance]="'outline'"
                    ></app-mat-select-box>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div
                class="col-12 d-flex flex-wrap align-items-center justify-content-between"
              >
                <p style="color: #667085; font-weight: 600">Address</p>
                <div class="col-9">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                    style="width: 100%; margin-top: 6px !important"
                  >
                    <textarea
                      style="height: 68px; vertical-align: super"
                      placeholder="Address"
                      type="text"
                      matInput
                      formControlName="caddress"
                      [(ngModel)]="address"
                      autocomplete="off"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="ledgerForm"
                  labelText="Pincode"
                  [placeholderText]="'Pincode'"
                  [controlName]="'cpincode'"
                ></app-mat-input>
              </div>
            </div>

            <app-action-button
              [loading]="loading"
              [isSave]="isCreateLedger"
              (clickSave)="submit()"
              (clickClearAll)="clearAll()"
              (clickUpdate)="update()"
            ></app-action-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
