<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <app-reports-header
        title="Debit Note Details"
        [reportFormGroupName]="salesOrderForm"
        [filterByOptions]="filterByOptions"
        [saveTypesOptions]="saveAsOptions"
        [filterData]="'filterData'"
        [SelectSaveOptions]="'SelectSaveOptions'"
        svgIconToDisplay="ReportsIcon"
        (onClickGoto)="gotoReportsPage()"
        (onClickCreateButton)="onClickButton()"
        buttonTitle="Create New Debit Note"
      ></app-reports-header>
    </div>
    <div class="d-flex flex-wrap pb-4" style="max-width: 100%">
      <div *ngFor="let item of cardsDetails" class="col-sm pl-0 pr-2">
        <app-content-cards [contentToDisplay]="item"></app-content-cards>
      </div>
    </div>
    <div class="col-12 p-0 card">
      <!-- <div class="p-3"> -->
      <div
        class="d-flex flex-wrap align-items-center p-3"
        style="justify-content: space-between"
      >
        <div class="d-flex flex-wrap align-items-center">
          <p
            style="
              font-weight: 600;
              font-size: 18px;
              padding-right: 8px;
              margin: 0;
            "
          >
            Recent Debit Notes
          </p>
          <p
            style="
              color: #0d894f;
              background-color: #e7f4ee;
              border-radius: 100px;
              padding: 8px;
              margin: 0;
            "
          >
            +2 Orders
          </p>
        </div>
        <app-table-filters
          [vendorDropDownData]="vendorDropDownData"
          [StatusOptions]="reportStatusOptions"
          [tableFiltersGroupName]="salesOrderForm"
          [reportStatus]="'reportStatus'"
          [vendorcode]="'vendorcode'"
          [filterColumnName]="'columnFilter'"
          [columnList]="columns"
        ></app-table-filters>
      </div>
      <!-- </div> -->
      <app-mat-table
        [columns]="columns"
        [filteredData]="filteredSalesOrderData"
        [paginationIndex]="paginationIndex"
        [pageCount]="pageCount"
        [selectAllCheckbox]="selectAllCheckbox"
        [tableGroupName]="form"
        [isSelectAll]="selectAll"
      >
        <ng-template let-item>
          <tr
            *ngFor="let data of item; let i = index"
            style="background-color: white"
          >
            <td
              scope="row"
              class="d-flex pl-3"
              style="
                color: #667085;
                min-width: 86px;
                /* max-width: 86px; */
                align-items: center;
                justify-content: left;
                height: inherit;
                border-top: 1px solid #f0f1f3;
              "
            >
              <input
                type="checkbox"
                id="customCheck1"
                style="min-height: 18px; min-width: 18px"
                [checked]="selectAll.isSelected"
              />
              <p class="m-0 pl-2" scope="row">
                {{ i + 1 + paginationIndex * pageCount }}
              </p>
            </td>
            <td
              *ngIf="columns[0].needToShow"
              scope="row"
              style="
                border-top: 1px solid #f0f1f3;
                min-width: 128px;
                max-width: 128px;
              "
            >
              <a href="" style="font-weight: 600; color: #13b2e4">{{
                data.orderedvalue
              }}</a>
            </td>
            <td
              *ngIf="columns[1].needToShow"
              scope="col"
              style="
                min-width: 151px;
                max-width: 151px;
                border-top: 1px solid #f0f1f3;
              "
            >
              <p class="m-0" style="font-weight: 600; color: #13b2e4">
                {{ data.vendorname }}
              </p>
              <a href="" style="color: #667085">{{ data.sono }}</a>
            </td>
            <td
              *ngIf="columns[2].needToShow"
              scope="col"
              style="
                min-width: 111px;
                max-width: 111px;
                border-top: 1px solid #f0f1f3;
                text-align: left;
                padding-left: 20px;
              "
            >
              {{ data.ordered }}
            </td>
            <td
              *ngIf="columns[3].needToShow"
              scope="col"
              style="
                color: #667085;
                text-align: left;
                min-width: 109px;
                max-width: 109px;
                border-top: 1px solid #f0f1f3;
                padding-left: 20px;
              "
            >
              {{ data.received }}
            </td>
            <td
              *ngIf="columns[4].needToShow"
              scope="col"
              style="
                color: #667085;
                min-width: 171px;
                max-width: 171px;
                border-top: 1px solid #f0f1f3;
              "
            >
              {{ data.sodate }}
            </td>
            <td
              *ngIf="columns[5].needToShow"
              scope="col"
              style="
                color: #667085;
                min-width: 133px;
                max-width: 133px;
                text-align: left;
                padding-left: 20px;
                border-top: 1px solid #f0f1f3;
              "
            >
              <p class="mb-0">{{ data.ordered }}</p>
            </td>
            <td
              *ngIf="columns[6].needToShow"
              scope="col"
              style="
                color: #667085;
                align-items: center;
                min-width: 114px;
                max-width: 114px;
                border-top: 1px solid #f0f1f3;
              "
            >
              <div *ngIf="data.received === '0'">
                <span
                  style="
                    background-color: #feedec;
                    padding: 8px;
                    border-radius: 100px;
                    color: #e46a11;
                    font-weight: 600;
                  "
                  >Pending</span
                >
              </div>
              <div *ngIf="data.received !== '0'">
                <span
                  class="completed"
                  style="
                    background-color: #e7f4ee;
                    color: #0d894f;
                    border-radius: 100px;
                    font-weight: 600;
                  "
                  >Completed</span
                >
              </div>
            </td>
            <td
              *ngIf="columns[7].needToShow"
              scope="col"
              style="
                color: #667085;
                min-width: 75px;
                max-width: 75px;
                border-top: 1px solid #f0f1f3;
                text-align: center;
              "
            >
              <i
                class="bi bi-three-dots-vertical"
                [matMenuTriggerFor]="threeDotOptions"
              >
              </i>
              <mat-menu #threeDotOptions="matMenu" style="width: 200%">
                <button
                  mat-menu-item
                  style="
                    border-bottom: 0.5px solid #959ba433;
                    margin: 0px 10%;
                    width: 80%;
                  "
                  (click)="onClickEdit()"
                >
                  Edit
                </button>
                <button
                  mat-menu-item
                  style="
                    border-bottom: 0.5px solid #959ba433;
                    margin: 0px 10%;
                    width: 80%;
                    color: #ec3900;
                  "
                  (click)="onClickDelete()"
                >
                  Delete
                </button>
                <button
                  mat-menu-item
                  style="
                    border-bottom: 0.5px solid #959ba433;
                    margin: 0px 10%;
                    width: 80%;
                    color: #ec3900;
                  "
                  (click)="onClickCancelOrder()"
                >
                  Cancel Order
                </button>
                <button mat-menu-item (click)="onClickViewMore()">
                  View More
                </button>
              </mat-menu>
            </td>
          </tr></ng-template
        ></app-mat-table
      >
    </div>
  </div>
</div>
