<div class="p-3 content-wrapper">
  <div class="d-flex flex-wrap justify-content-between">
    <div class="d-flex flex-wrap" style="gap: 30px">
      <div>
        <p style="color: #333843">Sales Order</p>
        <p style="color: #333843">Sales Order Date</p>
        <p style="color: #333843">Due Date</p>
      </div>
      <div>
        <p style="color: #419fc7">{{ salesOrderData[0].sono }}</p>
        <p style="color: #419fc7">14/06/2023</p>
        <p style="color: #419fc7">24/06/2023</p>
      </div>
    </div>
    <div class="d-flex flex-wrap align-items-center">
      <app-mat-button
        buttonColor="#F9F9FC"
        svgIconToDisplay="Download"
        paddingValue="0px 13px"
        borderValues="1px solid #E0E2E7"
        buttonHeight="40px"
      >
      </app-mat-button>
      <app-mat-select-box
        [formOptions]="saveAsOptions"
        [controlName]="'filterData'"
        [groupName]="'reportFormGroupName'"
        selectWidth="145px"
      ></app-mat-select-box>

      <app-mat-select-box
        [controlName]="'SelectSaveOptions'"
        [groupName]="'reportFormGroupName'"
        selectWidth="130px"
        IconHeightWidth="23px"
        label="Download As"
      ></app-mat-select-box>

      <app-mat-button
        title="Create New Order"
        buttonColor="#419FC7"
        textColor="#FFFFFF"
        titleFontSize="14px"
        titleFontWeight="600"
        iconColor="white"
        icon="bi bi-plus"
        buttonHeight="40px"
      >
      </app-mat-button>
    </div>
  </div>
  <div
    class="d-flex flex-wrap justify-content-between"
    style="
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      border: 1px solid #e0e2e7;
    "
  >
    <div>
      <p
        style="
          color: rgba(102, 112, 133, 0.8);
          font-size: 16px;
          font-weight: 500;
        "
      >
        Client Details
      </p>
      <p style="color: rgba(51, 56, 67, 1); font-size: 20px; font-weight: 400">
        Siva Subramaniyam
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        96, 3rd Cross Street,
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        Kobichettipalayam, Coimbatore, India
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        GST- 44DDRET4343Q2Q3
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        Contact: 044-0449 9900
      </p>
    </div>
    <div>
      <p
        style="
          color: rgba(102, 112, 133, 0.8);
          font-size: 18px;
          font-weight: 500;
        "
      >
        Bill To
      </p>
      <p style="color: rgba(51, 56, 67, 1); font-size: 24px; font-weight: 400">
        LTI Limited
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        96, 3rd Cross Street,
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        Kobichettipalayam, Coimbatore, India
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        GST- 44DDRET4343Q2Q3
      </p>
      <p style="font-size: 14px; font-weight: 400; color: #667085">
        Contact: 044-0449 9900
      </p>
    </div>
  </div>
  <div
    style="
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      border: 1px solid #e0e2e7;
      margin-top: 4px;
    "
  >
    <div class="d-flex flex-wrap justify-content-between">
      <div>
        <p style="color: #333843; font-size: 14px; font-weight: 700">
          Reference ID #122345
        </p>
        <p style="color: #667085; font-size: 14px; font-weight: 400">
          April 25, 2023 6:30 PM<span style="color: rgba(102, 112, 133, 0.5)">
            from </span
          >Default Sales Channel
        </p>
      </div>
      <div>
        <p
          style="
            color: #0d894f;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            padding: 8px;
            background-color: #e7f4ee;
            border-radius: 20px;
          "
        >
          Delivewhite
        </p>
      </div>
    </div>
    <div
      class="d-flex flex-wrap justify-content-between"
      style="align-items: center"
    >
      <div class="d-flex flex-wrap align-items-center" style="gap: 12px">
        <div>
          <img src="assets/Avatar.png" alt="AdminLTE Logo" />
        </div>
        <div>
          <p style="font-size: 14px; font-weight: 500; color: #333843">
            Nandhini Clament
          </p>
          <p style="font-size: 14px; font-weight: 500; color: #333843">
            nandhiniclament@abccompany.com
          </p>
        </div>
      </div>
      <div>
        <p style="font-size: 15px; font-weight: 700; color: #000000">
          Delivewhite By DHL
        </p>
        <div class="d-flex flex-wrap" style="gap: 8px">
          <div>
            <p style="font-size: 14px; font-weight: 400; color: #667085">
              Order Quantity
            </p>
            <p style="font-size: 14px; font-weight: 400; color: #667085">
              Received Quantity
            </p>
            <p style="font-size: 14px; font-weight: 400; color: #667085">
              Back Order Quantity
            </p>
          </div>
          <div>
            <p style="font-size: 14px; font-weight: 400; color: #667085">
              - {{ salesOrderData[0].ordewhite }}
            </p>
            <p style="font-size: 14px; font-weight: 400; color: #667085">
              - {{ salesOrderData[0].received }}
            </p>
            <p style="font-size: 14px; font-weight: 400; color: #667085">
              - {{ salesOrderData[0].ordewhite }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      border: 1px solid #e0e2e7;
      margin-top: 4px;
    "
  >
    <p style="font-weight: 700; font-size: 14px">Summary</p>
    <table
      class="table col-12 p-0"
      style="border-top: 1px solid rgba(217, 236, 244, 0.28)"
    >
      <tbody>
        <tr
          *ngFor="let data of productsData; let i = index"
          style="
            font-size: 12px;
            background-color: rgba(217, 236, 244, 0.28);
            border-top: 2px;
          "
        >
          <td
            style="
              border-top: 1px solid rgba(217, 236, 244, 0.28) !important ;
              padding-left: 8%;
            "
          >
            <p>{{ data.pname }}</p>
            <p>{{ data.pcode }}</p>
          </td>
          <td
            style="border-top: 1px solid rgba(217, 236, 244, 0.28) !important"
          >
            <p>{{ data.sku }}</p>
          </td>
          <td
            style="border-top: 1px solid rgba(217, 236, 244, 0.28) !important"
          >
            <p>{{ data.hsn }}</p>
          </td>
          <td
            style="border-top: 1px solid rgba(217, 236, 244, 0.28) !important"
          >
            <p>{{ data.rate }}</p>
          </td>
          <td
            style="border-top: 1px solid rgba(217, 236, 244, 0.28) !important"
          >
            <p>{{ data.pqty }}</p>
          </td>
          <td
            style="
              border-top: 1px solid rgba(217, 236, 244, 0.28) !important;
              text-align: right;
              margin-top: 2px;
            "
          >
            <p style="margin-right: 8px">{{ data.rate }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="d-flex flex-wrap justify-content-between"
      style="
        margin-top: -12px;
        height: 48px;
        align-items: center;
        padding: 8px;
        background-color: rgba(217, 236, 244, 0.28);
        border: 1px solid rgba(217, 236, 244, 0.28);
      "
    >
      <p>CGST</p>
      <p>1,000</p>
    </div>
    <div
      style="
        margin-top: 4px;
        height: 48px;
        padding: 8px;
        align-items: center;
        background-color: rgba(217, 236, 244, 0.28);
        border: 1px solid rgba(217, 236, 244, 0.28);
      "
      class="d-flex flex-wrap justify-content-between"
    >
      <p>SGST</p>
      <p>1,000</p>
    </div>
    <div
      style="
        margin-top: 4px;
        height: 48px;
        padding: 8px;
        background-color: rgba(217, 236, 244, 0.28);
        border: 1px solid rgba(217, 236, 244, 0.28);
      "
      class="d-flex flex-wrap justify-content-between align-items-center"
    >
      <p>IGST</p>
      <p>1,000</p>
    </div>
    <div
      style="
        margin-top: 4px;
        height: 48px;
        padding: 8px;
        align-items: center;
        background-color: rgba(217, 236, 244, 0.28);
        border: 1px solid rgba(217, 236, 244, 0.28);
      "
      class="d-flex flex-wrap justify-content-between"
    >
      <p style="font-size: 14px; font-weight: 700; color: #333843">Subtotal</p>
      <p style="font-size: 14px; font-weight: 700; color: #333843">1,00,000</p>
    </div>
  </div>
</div>
