<div class="d-flex flex-wrap align-items-center">
  <form [formGroup]="tableFiltersGroupName">
    <mat-form-field
      appearance="outline"
      style="width: 210px; margin: 0; padding-left: 4px"
    >
      <mat-label style="font-size: 14px; color: #667085; font-weight: 400"
        >Date Range</mat-label
      >
      <mat-date-range-input
        style="font-size: 14px; color: #667085; font-weight: 400"
        [rangePicker]="picker"
      >
        <input
          matStartDate
          formControlName="startDate"
          placeholder="Start Date"
          readonly
        />
        <input
          matEndDate
          formControlName="endDate"
          placeholder="End Date"
          readonly
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        style="color: #667085"
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
  <app-mat-select-box
    selectWidth="170px"
    [formOptions]="statusOptions"
    [controlName]="'reportStatus'"
    [label]="'Status'"
    [groupName]="tableFiltersGroupName"
    [formAppearance]="'outline'"
    [iconNeeded]="true"
    Icon="flagLine"
  ></app-mat-select-box>
  <!-- <app-mat-select-box
    selectWidth="143px"
    class="pl-1 pr-1"
    [formOptions]="vendorDropDownData"
    [controlName]="'vendorcode'"
    [label]="'Vendor Name'"
    [groupName]="tableFiltersGroupName"
    [formAppearance]="'outline'"
  ></app-mat-select-box> -->
  <app-input-auto-complete
    [optionsList]="vendorDropDownData"
    [groupName]="tableFiltersGroupName"
    [controlName]="vendorcode"
    inputWidth="200px"
  ></app-input-auto-complete>
  <app-mat-select-box
    selectWidth="200px"
    [formOptions]="vendorDropDownData"
    [controlName]="'vendorcode'"
    [label]="'Sales Person'"
    [groupName]="tableFiltersGroupName"
    [formAppearance]="'outline'"
    [iconNeeded]="isIconNeeded"
    Icon="bankCardLine"
  ></app-mat-select-box>
  <form [formGroup]="tableFiltersGroupName">
    <mat-form-field appearance="outline" [ngStyle]="{ width: '160px' }">
      <input
        type="text"
        [formControlName]="searchControlName"
        matInput
        placeholder="Search"
      />
      <span matPrefix>
        <mat-icon
          style="height: 25px; width: 25px; margin-right: 10px"
          svgIcon="Search"
        ></mat-icon
      ></span>
    </mat-form-field>
  </form>
  <app-table-column-display-filter
    [ColumnFilterFormGroup]="tableFiltersGroupName"
    [columnFilterName]="filterColumnName"
    [listOfTableColumns]="columnList"
  >
  </app-table-column-display-filter>
</div>
