<form *ngIf="groupName && controlName" [formGroup]="groupName">
  <mat-form-field appearance="outline" [ngStyle]="{ width: inputWidth }">
    <input
      matInput
      type="text"
      [placeholder]="placeholderText"
      [matAutocomplete]="searchAutoComplete"
      [formControl]="vendorAutoCompleteValue"
    />
    <span matPrefix *ngIf="svgIconNeeded">
      <mat-icon
        style="height: 21px; width: 21px; margin-right: 10px"
        svgIcon="vendorIcon"
      ></mat-icon
    ></span>
    <span matSuffix> <mat-icon svgIcon="arrowDown"></mat-icon></span>
  </mat-form-field>
  <mat-autocomplete
    (optionSelected)="onOptionSelected($event)"
    #searchAutoComplete="matAutocomplete"
  >
    <mat-option *ngFor="let item of filteredSearchValues" [value]="item.name">
      {{ item.name }} |
      <small *ngIf="item.groupcode">#{{ item.groupcode }}</small>
    </mat-option>
  </mat-autocomplete>
</form>
