<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div *ngIf="isCreateUOM; else elseBlock">
        <app-reports-header
          title="CREATE UOM"
          [isDownloadNeeded]="false"
          [isReports]="false"
          buttonTitle="List of UOM"
          (onClickCreateButton)="onClickButton()"
        ></app-reports-header>
      </div>
      <ng-template #elseBlock>
        <app-reports-header
          title="UPDATE UOM"
          [reportFormGroupName]="uomForm"
          [isDownloadNeeded]="false"
          buttonTitle="Add UOM"
          (onClickCreateButton)="onClickAddButton()"
        ></app-reports-header>
      </ng-template>
    </div>
    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <form [formGroup]="uomForm">
        <div class="row">
          <div class="col-12">
            <p style="font-size: 1.125rem; font-weight: 600; color: black">
              ID #{{ code }}
            </p>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  #ename
                  (keyup.enter)="NameEnter($event)"
                  [groupName]="uomForm"
                  labelText="UOM Name"
                  [placeholderText]="'Name'"
                  [controlName]="'cname'"
                ></app-mat-input>
              </div>

              <div class="col-lg-6 col-md-12 pb-2">
                <div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
                  <p style="color: #667085; font-weight: 600">
                    No of Decimal places
                  </p>
                    <div
                      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                    >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                      style="width: 100%"
                    >
                      <input
                        matInput
                        #ename
                        type="number"
                        (keyup.enter)="NameEnter($event)"
                        placeholder="No of Decimal places"
                        formControlName="cdigit"
                        [(ngModel)]="digit"
                      />
                      <small
                        *ngIf="
                          uomForm.controls['cdigit'].dirty &&
                          uomForm.hasError('required', 'cdigit')
                        "
                        class="text-danger"
                        >No of Digit Required!</small
                      >
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <app-action-button
              [loading]="loading"
              [isSave]="isCreateUOM"
              (clickSave)="submit()"
              (clickClearAll)="clear()"
              (clickUpdate)="update()"
            ></app-action-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
