<div
  style="
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #e0e2e7;
    margin-top: 4px;
  "
>
  <div>
    <p style="color: #333843; font-size: 0.875rem; font-weight: 700">
      Reference :{{ refNumber }}
    </p>
    <!-- <p style="color: #667085; font-size: 0.875rem; font-weight: 400">
      April 25, 2023 6:30 PM<span style="color: rgba(102, 112, 133, 0.5)">
        from </span
      >Default Sales Channel
    </p> -->
  </div>
  <div
    class="d-flex flex-wrap justify-content-between"
    style="align-items: center; margin-top: 30px"
  >
    <div>
      <p style="font-size: 0.875rem; font-weight: 700; color: #333843">
        Contact Person :
      </p>
      <p style="font-size: 0.875rem; font-weight: 7 00; color: #333843">
        Contact Number :
      </p>
    </div>
    <div>
      <p style="font-size: 0.9375rem; font-weight: 700; color: #000000">
        Transport:
        <span *ngIf="transport == 0; else elseBlock">Not Applicable</span>
        <ng-template #elseBlock>{{ transport }}</ng-template>
      </p>
      <div class="d-flex flex-wrap justify-content-between">
        <p style="font-size: 0.875rem; font-weight: 400; color: #667085">
          Order Quantity
        </p>
        <p style="font-size: 0.875rem; font-weight: 400; color: #667085">
          <span style="padding-right: 12px"> - </span> {{ totalCount }}
        </p>
      </div>
    </div>
  </div>
</div>
