<div class="d-flex flex-wrap justify-content-between align-items-center">
  <app-mat-header title="{{ title }}"></app-mat-header>
  <div class="d-flex flex-wrap align-items-center">
    <app-mat-select-box
      [formOptions]="filterByOptions"
      [controlName]="filterData"
      [groupName]="reportFormGroupName"
      selectWidth="145px"
    ></app-mat-select-box>

    <app-mat-select-box
      [formOptions]="saveTypesOptions"
      [controlName]="SelectSaveOptions"
      [groupName]="reportFormGroupName"
      selectWidth="130px"
      IconHeightWidth="23px"
      label="Download As"
    ></app-mat-select-box>

    <app-mat-button
      title=""
      tooltipText="Download"
      buttonColor="#F9F9FC"
      svgIconToDisplay="Download"
      paddingValue="0px 13px"
      borderValues="1px solid #E0E2E7"
      buttonHeight="40px"
      (click)="clickDownload($event)"
    >
    </app-mat-button>
    <div *ngIf="svgIconToDisplay">
      <app-mat-button
        title=""
        tooltipText="Reports"
        buttonColor="#F9F9FC"
        [svgIconToDisplay]="svgIconToDisplay"
        paddingValue="0px 13px"
        borderValues="1px solid #E0E2E7"
        buttonHeight="40px"
        (click)="gotoReports($event)"
      ></app-mat-button>
    </div>

    <app-mat-button
      [title]="buttonTitle"
      buttonColor="#419FC7"
      textColor="#FFFFFF"
      titleFontSize="14px"
      titleFontWeight="600"
      iconColor="white"
      icon="bi bi-plus"
      buttonHeight="40px"
      (onClickButton)="OnClickButton($event)"
    >
    </app-mat-button>
  </div>
</div>
