@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-spinner/animations/ball-scale-multiple.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

html,
body {
  height: 100%;
}

body {
  color: #667085 !important;
  margin: 0;
  font-weight: 600;
}

tbody {
  background-color: #e7f3f8 !important;
  font-weight: 400 !important;
  font-style: bold;
}

.mandatoryfield {
  color: #CD6688;
  font-weight: 500 !important;
}

.header-title {
  color: #419fc7;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  position: relative;
  white-space: normal !important;
  //padding-bottom: 10px;
  display: inline-block !important;
  white-space: nowrap;
}

.sidebar a {
  color: #667085 !important;
  font-size: 14px !important;
}

.nav-sidebar>.nav-item.menu-open>.nav-link {
  background-color: transparent !important;
}

.mat-option {
  font: 500 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
  color: #667085 !important;
}

.nav-link:not(.active):hover {
  background-color: transparent !important;
}

.nav-treeview>.nav-item>.nav-link:focus {
  background-color: #419FC7 !important;
  color: white !important;
}

.header-title::after {
  border-bottom: 3px solid #FAA613;
  content: "";
  display: block;
  width: 65px;
}

.subHeader {
  font-weight: 600;
  background-color: #607D8B;
  padding: 6px;
  color: #fff;
  border-radius: 5px;
}

.btn-label {
  position: relative;
  left: -8px;
  display: inline-block;
  padding: 4px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

ul.nav.nav-treeview {
  background-color: #fff !important;
}

.pending {
  background-color: crimson;
  color: #fff;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}

.completed {
  background-color: seagreen;
  color: #fff;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cusbox {
  border: 1px solid rgba(0, 0, 0, .12);
}

.input_right {
  text-align: right !important;
}

.amountFieldColor {
  background-color: rgb(239 238 238 / 49%);
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  //padding: 0.4em 0 0.4em 0 ;
  height: 42px;
}

.mat-form-field-infix {
  border-top: 0.3em solid transparent;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.apexcharts-legend {
  inset: auto !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.mat-select-value {
  font-weight: 500;
  color: #667085;
  font-size: 14px;
}

.brand-link {
  border-bottom: 0 !important;
}

svg {
  vertical-align: bottom
}

.mat-select-arrow {
  opacity: 0;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 600;
  letter-spacing: normal;
  background-color: #fff;
}

.vscard {
  min-height: 130px;
  max-height: 130px;
  overflow: scroll;
  flex-wrap: nowrap;
}

.vscard::-webkit-scrollbar {
  display: none;
}

.vscardheader {
  text-align: center;
  font-weight: 500;
  color: #607D8B;
  font-size: 1rem;
  margin-bottom: 5px;
}

.vscardoutstanding {
  font-weight: 600;
  color: #607D8B;
  font-size: 1.1rem;
}

.btnCustom {
  background: #369dc4;
  border-color: #369dc4;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
  width: fit-content;
  cursor: pointer;
}

.btnCustomSmall {
  background: #369dc4;
  border-color: #369dc4;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: none;
  width: fit-content;
  cursor: pointer;
}

.btnCustomDanger {
  background: #E96479;
  border-color: #E96479;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
  width: fit-content;
  cursor: pointer;
}

.btnCustomDangerSmall {
  background: #E96479;
  border-color: #E96479;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: none;
  width: fit-content;
  cursor: pointer;
}

.btnCustomGray {
  background: #e0e2e7;
  border-color: #e0e2e7;
  color: black;
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
  width: fit-content;
  cursor: pointer;
}

.btnCustomGraySmall {
  background: #e0e2e7;
  border-color: #e0e2e7;
  color: black;
  padding: 5px;
  border-radius: 4px;
  box-shadow: none;
  width: fit-content;
  cursor: pointer;
}

.accountnamepf {
  font-weight: 600 !important;
  background-color: #fff !important;
  color: #428bca !important;
  text-transform: uppercase !important;
  text-align: center !important;
}

.accountname {
  font-weight: 600 !important;
  background-color: #fff !important;
  color: #428bca !important;
  text-transform: uppercase !important;
  text-align: left !important;
}

.amountcss {
  font-weight: 600 !important;
  text-align: right !important;
}

.db-tree-view th {
  background-color: #fff !important;
  color: #fff !important;
  font-weight: 400 !important;
}

.db-tree-view tr {
  text-align: right;
  font-weight: 600 !important;
}

.headerhide {
  display: none !important;
}

.btn-label {
  position: relative;
  left: -8px;
  display: inline-block;
  padding: 4px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}

mat-icon {
  font-family: "Material Icons" !important;
}

ul.nav.nav-treeview {
  background-color: #fff !important;
}

.pending {
  background-color: crimson;
  color: #fff;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}

.completed {
  background-color: seagreen;
  color: #fff;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cusbox {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.input_right {
  text-align: right !important;
}

.amountFieldColor {
  background-color: rgb(239 238 238 / 49%);
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  //padding: 0.4em 0 0.4em 0 ;
  height: 42px;
}

.mat-form-field-infix {
  border-top: 0.3em solid transparent;
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.apexcharts-legend {
  inset: auto !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.apexcharts-datalabel-value {
  font-weight: 600;
}

.mat-select-value {
  font-weight: 500;
  color: #667085;
  font-size: 0.875rem;
}

.brand-link {
  border-bottom: 0 !important;
}

svg {
  vertical-align: bottom;
}

.mat-select-arrow {
  opacity: 0;
}

.mat-menu-content:not(:empty) {
  width: 200px;
  border-radius: 8px;
  padding: 0px;
}

button.mat-menu-item {
  text-align: center;
  height: 40px;
  font-weight: 600;
  color: #374151;
}

.mat-dialog-container {
  border-radius: 8px !important;
}

.dataTable {
  tr.ng-star-inserted {
    // height: 80px !important;
  }
}

.table td,
.table th {
  vertical-align: inherit;
  padding: 0px;
}

.table thead th {
  vertical-align: inherit;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #419FC7 !important;
}

.mat-form-field-underline {
  height: 0px !important;
}

.mat-form-field-underline::after {
  height: 0px !important;
}