<div
  class="row mt-4"
  style="align-items: flex-end; justify-content: flex-end; gap: 10px"
>
  <div *ngIf="isSave === true; else elseBlock">
    <button
      #esave
      (click)="onClickSave($event)"
      [disabled]="loading"
      style="
        margin-right: 5px;
        background-color: #419fc7;
        border: 1px solid #419fc7;
        border-radius: 8px;
        color: white;
        box-shadow: none;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      "
    >
      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
      Save
    </button>
  </div>
  <ng-template #elseBlock>
    <button
      #esave
      (click)="onClickUpdate($event)"
      [disabled]="loading"
      style="
        margin-right: 5px;
        background-color: #419fc7;
        border: 1px solid #419fc7;
        border-radius: 8px;
        color: white;
        box-shadow: none;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      "
    >
      <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
      Update
    </button>
  </ng-template>
  <button
    (click)="onClickClearAll($event)"
    style="
      border: 1px solid #419fc7;
      background-color: white;
      color: #419fc7;
      border-radius: 8px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    "
  >
    Clear
  </button>
</div>
