<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div id="contentToSave" #contentToSave></div>
      <app-reports-header
        title="LIST OF CUSTOMERS"
        [searchField]="true"
        [reportFormGroupName]="customerForm"
        [saveTypesOptions]="saveAsOptions"
        [searchControlName]="'searchValues'"
        [SelectSaveOptions]="'SelectSaveOptions'"
        buttonTitle="Add Customer"
        (onClickCreateButton)="onClickButton()"
        (onClickDownload)="downloadAsPDF()"
      ></app-reports-header>
    </div>
    <app-mat-table
      id="customerTable"
      [columns]="columns"
      [filteredData]="filteredData"
      [paginationIndex]="paginationIndex"
      [pageCount]="pageCount"
      [selectAllCheckbox]="selectAllCheckbox"
      [tableGroupName]="customerForm"
      [isSelectAll]="selectAll"
    >
      <ng-template let-item>
        <tr
          *ngFor="let data of item; let i = index"
          style="background-color: white"
        >
          <td
            scope="row"
            class="d-flex pl-3"
            style="
              color: #667085;
              min-width: 86px;
              /* max-width: 86px; */
              align-items: center;
              justify-content: left;
              height: inherit;
              border-top: 1px solid #f0f1f3;
            "
          >
            <input
              type="checkbox"
              id="customCheck1"
              style="min-height: 18px; min-width: 18px"
              [checked]="selectAll.isSelected"
            />
            <p class="m-0 pl-2" scope="row">
              {{ i + 1 + paginationIndex * pageCount }}
            </p>
          </td>
          <td
            *ngIf="columns[0].needToShow"
            scope="row"
            style="
              border-top: 1px solid #f0f1f3;
              min-width: 128px;
              max-width: 128px;
            "
          >
            <a style="font-weight: 600; color: #13b2e4">{{
              data.companyDisplayName
            }}</a>
          </td>
          <td
            *ngIf="columns[1].needToShow"
            scope="col"
            style="
              min-width: 151px;
              max-width: 151px;
              border-top: 1px solid #f0f1f3;
            "
          >
            {{ data.groupName }}
          </td>
          <td
            *ngIf="columns[2].needToShow"
            scope="col"
            style="
              min-width: 145px;
              max-width: 145px;
              border-top: 1px solid #f0f1f3;
              text-align: left;
              padding-left: 20px;
            "
          >
            {{ data.bilingAddress }}
          </td>
          <td
            *ngIf="columns[2].needToShow"
            scope="col"
            style="
              min-width: 111px;
              max-width: 111px;
              border-top: 1px solid #f0f1f3;
              text-align: left;
              padding-left: 20px;
            "
          >
            {{ data.firstName }}
          </td>
          <td
            *ngIf="columns[2].needToShow"
            scope="col"
            style="
              min-width: 111px;
              max-width: 111px;
              border-top: 1px solid #f0f1f3;
              text-align: left;
              padding-left: 20px;
            "
          >
            {{ data.mobileNo }}
          </td>
          <td
            *ngIf="columns[2].needToShow"
            scope="col"
            style="
              min-width: 111px;
              max-width: 111px;
              border-top: 1px solid #f0f1f3;
              text-align: left;
              padding-left: 20px;
            "
          >
            {{ data.stateName }}
          </td>
          <td
            *ngIf="columns[2].needToShow"
            scope="col"
            style="
              min-width: 111px;
              max-width: 111px;
              border-top: 1px solid #f0f1f3;
              text-align: left;
              padding-left: 20px;
            "
          >
            {{ data.gstNo }}
          </td>
          <td
            *ngIf="columns[2].needToShow"
            scope="col"
            style="
              min-width: 111px;
              max-width: 111px;
              border-top: 1px solid #f0f1f3;
              text-align: left;
              padding-left: 20px;
            "
          >
            {{ data.paaymentTerm }}
          </td>
          <td
            *ngIf="columns[3].needToShow"
            scope="col"
            style="
              color: #667085;
              min-width: 75px;
              max-width: 75px;
              border-top: 1px solid #f0f1f3;
              text-align: center;
            "
          >
            <i
              style="
                background-color: rgba(84, 130, 10, 0.6);
                border-radius: 4px;
                padding-top: 2px;
              "
              class="bi bi-three-dots-vertical"
              [matMenuTriggerFor]="threeDotOptions"
            >
            </i>
            <mat-menu #threeDotOptions="matMenu" style="width: 200%">
              <button
                mat-menu-item
                style="
                  border-bottom: 0.5px solid #959ba433;
                  margin: 0px 10%;
                  width: 80%;
                "
              >
                Edit
              </button>
              <button
                mat-menu-item
                style="
                  border-bottom: 0.5px solid #959ba433;
                  margin: 0px 10%;
                  width: 80%;
                  color: #ec3900;
                "
              >
                Delete
              </button>
            </mat-menu>
          </td>
        </tr></ng-template
      ></app-mat-table
    >
  </div>
</div>
