<form *ngIf="groupName" [formGroup]="groupName" class="p-0 m-0">
  <div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
    <p style="color: #667085; font-weight: 600">
      {{ labelText }} <span *ngIf="isRequired" style="color: red">*</span>
    </p>
    <div
      
    >
      <mat-form-field appearance="outline">
        <mat-label style="color: #b9b9b9; font-weight: 400">{{
          placeholderText
        }}</mat-label>
        <input
          required="isRequired"
          [type]="inputType"
          matInput
          autocomplete="off"
          [(ngModel)]="modelName"
          [formControlName]="formControlName"
        />
      </mat-form-field>
    </div>
  </div>
</form>
