th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type
{
    padding:0;
}
.btn {
    margin-bottom: 0px !important;
}
th{  
    color: #fff;
    background-color: #369cc3;
    text-align: center;
    font-size: 0.8rem !important;
    border: 1px solid rgb(230, 229, 229);
}