<div class="content-wrapper">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-9 col-xxl-10">
          <div class="header-title"> Credit Note</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
          <div style="text-align: right;">
            <button type="button" class="btn btn-labeled btn-info btn-sm" (click)="gotoList()">
              <span class="btn-label"><i class="fa fa-plus-square" style="margin-right: 5px;"></i></span>Credit Note
              List
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body m-2 p-0">
      <form [formGroup]="form" onkeydown="return event.key != 'Enter';">
        <div class="card mt-2 mb-2" style="padding: 15px 0">


          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2"> Voucher No *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input type="text" [(ngModel)]="invno" readonly="true" matInput autocomplete="off"
                  formControlName="cinvno" required>
              </mat-form-field>
            </div>  
          </div>

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2"> Voucher Date *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput formControlName="cinvdate" [(ngModel)]="invdate" [matDatepicker]="pickerInvdate"
                  placeholder="Select" required>
                <mat-datepicker-toggle matSuffix [for]="pickerInvdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerInvdate></mat-datepicker>
              </mat-form-field>
            </div>  
          </div>

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2"> Sales Invoice No *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input type="text" matInput autocomplete="off" [(ngModel)]="billno" formControlName="cpono">
              </mat-form-field>
            </div>  
          </div>

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mandatoryfield mt-2"> Sales Invoice No *</label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput formControlName="cpodate"  [(ngModel)]="billdate" [matDatepicker]="pickerpoDate"
                  placeholder="Select">
                <mat-datepicker-toggle matSuffix [for]="pickerpoDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerpoDate></mat-datepicker>
              </mat-form-field>
            </div>  
          </div>

          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class=" mt-2"> Voucher Type </label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input [(ngModel)]="vchtype" type="text"  required matInput formControlName="cvchtype" readonly="true"
                  autocomplete="off">
                  <!-- <button class="btn btn-outline-primary btn-sm" style="padding: 0px 5px;margin-top: -10px;"
                  (click)="callChangeVoucherType()" matSuffix>
                  <i class="bi bi-back"></i> 
                </button> -->
              </mat-form-field>
            </div>  
          </div>

          
          <div class="row m-0 p-0">  
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
              <label class="mt-2"> Account Name </label>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
              <mat-form-field appearance="outline" style="width: 100%;">                
                <input matInput placeholder="Select Account" required aria-label="Select Account" [matAutocomplete]="accauto"
                  [(ngModel)]="vchaccount" formControlName="cacntname" [formControl]="accSearch">
                <mat-autocomplete #accauto="matAutocomplete">
                  <cdk-virtual-scroll-viewport [ngStyle]="{height: '200px'}" itemSize="25">
                    <mat-option *ngFor="let r of filteredAccounts | async" [value]="r.ledgername"
                      (onSelectionChange)="accountChanged($event,r)">
                      <span>{{ r.ledgername }}</span>
                    </mat-option>
                  </cdk-virtual-scroll-viewport>
                </mat-autocomplete>
              </mat-form-field>
            </div>  
          </div>

          <div style="background-color: #f6f6f6; border-radius: 10px;" class="p-3 mb-1">                                 
            <div class="row mb-2">
                  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-1">
                  <label class="mandatoryfield mt-2">Customer Name *</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-3">
                    <mat-form-field appearance="outline" style="width:100%">                    
                      <input matInput #evendorname aria-label="Vendor" [ngModel]="vendorname" formControlName="vendor"
                        [matAutocomplete]="auto" name="vendor" [formControl]="vendorSearch" />
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let i of filteredVendors | async" [value]="i.CompanyDisplayName"
                          (onSelectionChange)="vendorChanged($event,i)">
                          <span>{{i.CompanyDisplayName}}</span> |
                          <small>{{i.BilingAddress}}</small>
                        </mat-option>
                      </mat-autocomplete>
                      <button *ngIf="!btnvendorchange" class="btn btn-sm material-icons"
                        style="padding: 0px 0px; margin-top: -13px;" matSuffix>
                        arrow_drop_down
                      </button>
                      <button *ngIf="btnvendorchange" class="btn btn-sm material-icons btn-outline-danger"
                        style="padding: 0px 0px; margin-top: -13px;" (click)="changeVendor()" matSuffix>clear</button>
                    </mat-form-field>
                  </div>                            
            </div>                                    
            <div class="row m-0 p-0" *ngIf="vendorcode">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2 mb-2">  
                <div class="card p-2 vscard" style="height: auto;">
                  <div class="vscardheader">Outstanding</div>   
                  <hr class="p-0 m-0">             
                  <div class="d-flex justify-content-center m-auto vscardoutstanding">
                    {{ vendoroutstanding ? (vendoroutstanding | currency: 'INR') : ('0.0' | currency:'INR') }}
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2 mb-2">  
                <div class="card p-2 vscard">
                  <div class="vscardheader">GST Details</div>   
                  <hr class="p-0 m-0">               
                  <div>{{vendorgstno}}</div>
                  <div>{{vendorgstTreatment}}</div>
                  <div>{{vendorstate}}</div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-2">  
                <div class="card p-2 vscard" style="height: auto;" [title]="vendorbilling">
                  <div class="vscardheader">Vendor Address</div>    
                  <hr class="p-0 m-0">                
                  <div >{{vendorbilling}}</div>
                </div>              
              </div>
              <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-2">  
                <div class="card p-2 vscard" style="height: auto;">
                  <div class="row">
                    <div class="col-10">                   
                      <div class="vscardheader">Delivery Address</div> 
                      <hr class="p-0 m-0 mb-1"> 
                      <div *ngIf="vendordelivery" class="d-flex justify-content-center m-auto p-1">
                        <a style="color: red; cursor: pointer;" (click)="ShowAddDelivery()">CHANGE</a>  
                      </div> 
                      <div *ngIf="!vendordelivery" class="d-flex justify-content-center m-auto p-2" style="border: 1px solid lightgray; margin-top: 1px;">
                        <a style="color: green; cursor: pointer;" (click)="ShowAddDelivery()">PICK <br/> Delivery Address</a>  
                      </div> 
                      <div>
                        {{vendordelivery}}
                      </div>
                    </div>
                    <div class="col-2">
                      <button class="btn btnCustomSmall" (click)="AddDelivery()">
                        &nbsp;&nbsp;<i class="bi bi-plus-circle"></i>&nbsp;&nbsp;
                      </button>                    
                    </div>                 
                  </div>             
                </div>
              </div> -->
              <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xxl-2 col-xxl-2 mb-2">
                <div class="card p-2 vscard" style="height: auto;">
                  <div class="row">
                    <div class="col-12">    
                      <div class="heading">Pending SO's</div>
                      <hr class="p-0 m-0" />
                      <div style="font-weight:600;font-size: 1.4rem; color:#D61355; text-align: center; margin-top: 10px;">
                        {{vendorpodatacount}}
                      </div>
                      <div style="font-size: 0.7rem;text-align: center;" class="p-0">Click to View</div>
                    </div>
                  </div>                
                </div>                                   
              </div> -->
            </div>  
         </div>  
      
          <div class="row mb-0 mt-2 m-0 p-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xxl-12 mb-0">
              <h5 style="font-weight: bold;">BILL TO</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xxl-3 col-xxl-2 mb-0 xclass">
              <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Select Customer</mat-label>
                <input matInput [ngModel]="vendorname" name="vendor" formControlName="vendor" aria-label="Vendor"
                  [formControl]="vendorSearch" [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let i of filteredVendors | async" [value]="i.CompanyDisplayName"
                    (onSelectionChange)="vendorChanged($event,i)">
                    <span> {{i.CompanyDisplayName}}</span> |
                    <small>{{i.BilingAddress}} </small>
                  </mat-option>
                </mat-autocomplete>
                <button class="btn btn-sm material-icons" style="padding: 5px 10px;margin-top: 8px;" matSuffix>
                  arrow_drop_down
                </button>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xxl-2 col-xxl-2 p-2 mb-0 cusbox">
              <div class="heading">Outstanding</div>
              <hr class="p-0 m-0" />
              <div class="outstanding mt-3">{{ vendoroutstanding ? (vendoroutstanding | currency: 'INR') : ('0.0' |
                currency: 'INR') }}</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xxl-2 col-xxl-2 p-2 mb-0 cusbox">
              <div class="heading">GST Details</div>
              <hr class="p-0 m-0" />
              <div class="details">{{vendorgstno}}</div>
              <div class="details">{{vendorgstTreatment}}</div>
              <div class="heading">Source of Supply</div>
              <div class="details">{{vendorstate}}</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xxl-2 col-xxl-2 p-2 mb-0 cusbox">
              <div class="heading">Vendor Address</div>
              <hr class="p-0 m-0" />
              <div class="details">{{vendorbilling}}</div>
            </div>         
          </div>

        </div>
        <div class="row mb-2 mt-2 m-0 p-0"> 
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Reference #</mat-label>
              <input type="text" formControlName="ref" [(ngModel)]="refno" matInput autocomplete="off">
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Seles Ref</mat-label>
              <input matInput required formControlName="sref" aria-label="Sale Ref" [ngModel]="salerefname"
                [matAutocomplete]="autosr" [formControl]="refSearch" />
              <mat-autocomplete #autosr="matAutocomplete">
                <mat-option *ngFor="let i of filteredSref | async" [value]="i.refname"
                  (onSelectionChange)="SaleRefChanged($event,i)">
                  <span>{{i.refname}}</span> |
                </mat-option>
              </mat-autocomplete>
              <button class="btn btn-sm material-icons" matSuffix>
                arrow_drop_down
              </button>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="row m-0">
        <div style="overflow: auto;">
            <table mat-table style="width: 100%;"  [dataSource]="listData" class="table-bordered table-hover">
        
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> X </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <button class="btn btn-danger" (click)="remove(i)" style="margin-left:10px">
                        X
                      </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 250px;">PRODUCT </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <div>
                            <input #eprod matInput placeholder="Product" aria-label="Product" [matAutocomplete]="stateAutoComplete" [(ngModel)]="element.product"
                        (keyup.enter)="onProdKeydown($event,i)">
                        <mat-autocomplete #stateAutoComplete="matAutocomplete">
                          <mat-option *ngFor="let r of filterProducts(element.product)" [value]="r.itemname"  (onSelectionChange)="prodChanged($event,r,i)">                    
                            <span>{{r.itemname}}</span> |
                            <small>GST : {{r.gst}}</small>
                          </mat-option>
                        </mat-autocomplete>    
                        </div>
                        <div>
                            <span style="display: none;">{{element.hsn}}</span>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <div class="row">
                        <div (click)="addRow()" title="Add More Products!">
                          <img src="assets/add.png" height="32px" width="32px" />
                        </div>
                        <div (click)="removeAll()" title="Remove All Products!">
                          <img src="assets/deleteall.png" height="32px" width="32px" />
                        </div>
                      </div>
    
        
                    </td>
                </ng-container>
                <ng-container matColumnDef="qty">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> QTY</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <div class="row">
                        <input #eqty matInput [(ngModel)]="element.qty" class="input_right" type="number"
                          style="padding:5px" (focusin)="Empty($event)" (focusout)="return($event)" (click)="Empty($event)"
                          (keyup.enter)="onQtyKeydown($event,i)" />
                      </div>
                      <div class="row">
                        <div class="col-12 text-center" style="color:gray">
                          <hr class="p-0 m-0" />
                          {{element.uom}}
                        </div>
                      </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> BASIC RATE </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <input #erate [(ngModel)]="element.rate" type="number" (focusin)="Empty($event)"
                        (focusout)="return($event)" (click)="Empty($event)" class="input_right" matInput
                        (ngModelChange)="onRateChange($event,i)" (keyup.enter)="onRateKeydown($event,i)" />
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="addon">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> ADDON</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <input #etransport [(ngModel)]="element.addon" type="number" matInput
                        (keyup.enter)="onAddonRateKeydown($event,i)" />
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="subtotal">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> SUB TOTAL </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <input #ediscvalue readonly="true" type="number" class="input_right" [(ngModel)]="element.subtotal"
                        matInput />
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="disc">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> DISCOUNT %</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <div class="row">
                        <div class="col-7 col-sm-8 col-md-9 col-lg-8 col-xl-9 col-xxl-11">
                          <input #edisc [(ngModel)]="element.disc" type="number" style="padding:5px" class="input_right"
                            (focusin)="Empty($event)" (focusout)="return($event)" (click)="Empty($event)"
                            (ngModelChange)="onDiscChange($event,i)" matInput (keyup.enter)="onDiscKeydown($event,i)" />
                        </div>
                        <div class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 col-xxl-1">
                          %
                        </div>
                      </div>
                      <hr class="p-0 m-0" />
                      <div style="text-align: right;margin-right: 10px; padding: 5px;">{{element.discvalue | currency:'INR'
                        }}
                      </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="taxable">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> TAXABLE </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <input #ediscvalue readonly="true" type="number" class="input_right" [(ngModel)]="element.taxable"
                        matInput />
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="gst">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> GST %</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <div class="row">
                        <div class="col-7 col-sm-8 col-md-9 col-lg-8 col-xl-9 col-xxl-11">
                          <input #etax [(ngModel)]="element.gst" type="number" (focusin)="Empty($event)"
                            (focusout)="return($event)" (click)="Empty($event)" style="padding:5px" class="input_right"
                            matInput (ngModelChange)="onTaxKeyChange($event,i)" (focusout)="onTaxKeydown($event,i)"
                            (keyup.enter)="onTaxKeydown($event,i)" />
                        </div>
                        <div class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 col-xxl-1">
                          %
                        </div>
                      </div>
                      <hr class="p-0 m-0" />
                      <div style="text-align: right;margin-right: 10px; padding: 5px;">{{element.gstvalue | currency:'INR'
                        }}
                      </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 80px;"> AMOUNT </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      <input #eamt readonly="true" matInput type="number" class="input_right" [(ngModel)]="element.amount"
                        (keyup.enter)="onAmountKeydown($event,i)" />
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
        
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        
            </table>
        </div>
        </div>
        <div class="m-0">
            <div class="row p-0 m-0">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-7">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card m-0 p-0 mt-2">
                      <div class="row p-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                          <div class="subDetails m-1">Remarks :</div>
                          <div>
                            <textarea class="form-control fontvariation" [(ngModel)]="remarks"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row p-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                          <div class="subDetails m-1 ">Terms & Condition :</div>
                          <div>
                            <textarea class="form-control fontvariation" [(ngModel)]="termsandcondition"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="card m-0 p-2">
                      <div *ngFor="let f of sdef">
                        <div class="row m-1">
                          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                            <input class="form-control form-control-sm" disabled [(ngModel)]="f.efieldname"
                              [value]="f.efieldname" />
                          </div>
                          <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                            <input class="form-control form-control-sm" [(ngModel)]="f.efieldvalue" [value]="f.efieldvalue"
                              type="text" />
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-5 text-end">
                <div class="card m-0 p-0">
                  <div class="row m-0 p-0 border">
                    <div class="col-6 lblBox">
                      <div class="m-2">
                        <div class="lblBoxText">Sub Total</div>
                      </div>
                    </div>
                    <div class="col-6 amountFieldColor">
                      <div class="m-1 input_right">{{this.subtotal | currency:'INR'}}</div>
                    </div>
                  </div>
                  <div class="row m-0 p-0 border">
                    <div class="col-6 lblBox">
                      <div class="m-2">
                        <div class="lblBoxText">Discount Total</div>
                      </div>
                    </div>
                    <div class="col-6 amountFieldColor">
                      <div class="m-1 input_right">{{this.disctotal | currency:'INR'}}</div>
                    </div>
                  </div>
                  <div class="row m-0 p-0 border" *ngFor="let i of acclistData.filteredData">
                    <div class="col-6 lblBox">
                      <div class="m-2">
                        <div class="lblBoxText">{{i.accname}}</div>
                      </div>
                    </div>
                    <div class="col-6 amountFieldColor">
                      <div class="m-1 input_right">{{i.accvalue | currency:'INR'}}</div>
                    </div>
                  </div>
                  <div class="row m-0 p-0 border" *ngFor="let i of gstlistData.filteredData; let ri = index"
                    style="background-color: #e7f3f8 !important;">
                    <div class="col-5 lblBox">
                      <mat-form-field appearance="outline"
                        style="width: 100%; padding: 0em 0em 0em 0em !important;">
                        <input  matInput placeholder="Select" [(ngModel)]="i.accname" aria-label="Select" 
                          [matAutocomplete]="stateAutoComplete" (input)="filterDefAccounts($event)">
                          <mat-autocomplete #stateAutoComplete="matAutocomplete">
                            <mat-option *ngFor="let r of filteredDef" [value]="r.ledgername"
                              (onSelectionChange)="gstaccChanged($event, r, ri)">
                              <span>{{ r.ledgername }}</span> |
                            </mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field appearance="outline"
                        style="width: 100%;padding: 0em 0em 0em 0em !important;">
                        <input matInput   [(ngModel)]="i.accvalue" type="text" (input)="calculate()" (keypress)="forMoney($event)"
                          (click)="calculate()" (focusout)="calculate()" matInput (change)="gstInputChanged($event,ri)" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field appearance="outline"
                        style="width: 100%;padding: 0em 0em 0em 0em !important;">
                        <input matInput [(ngModel)]="i.accgst" (keydown)="prevent($event)" matInput
                          [matAutocomplete]="sutoComplete" />
                        <mat-autocomplete #sutoComplete="matAutocomplete">
                          <mat-option *ngFor="let r of gstArray" (click)="calculate()" (focusout)="calculate()"
                            (onSelectionChange)="gstDDChanged($event,ri,r)" [value]="r.gst">{{r.gst}}</mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-2 d-flex">
                      <mat-form-field appearance="outline"
                        style="width: 100%;padding: 0em 0em 0em 0em !important;">
                        <input matInput readonly="true" [(ngModel)]="i.accgsttotvalue" />
                      </mat-form-field>
                      <button class="btn btn-danger btn-sm"
                        style="border-radius:5px;margin-left:10px;margin-right:10px;margin-top:8px;"
                        (click)="gstremove(ri)">X</button>
                    </div>
                  </div>
                  <div class="row m-0 p-2 border">
                    <a style="color: blue; cursor: pointer;" (click)="gstaddRow()">(+) Add Additional Charge</a>
                  </div>
                  <div class="row m-0 p-0 border">
                    <div class="col-6 lblBox">
                      <div class="m-2">
                        <div class="lblBoxText">Total</div>
                      </div>
                    </div>
                    <div class="col-6 amountFieldColor">
                      <div class="m-1  input_right">{{ nettotal | currency:'INR'}}</div>
                    </div>
                  </div>
                  <div class="row m-0 p-0 border">
                    <div class="col-6 lblBox">
                      <div class="m-2">
                        <div class="lblBoxText">TCS Charge</div>
                      </div>
                    </div>
                    <div class="col-6 amountFieldColor">
                      <div class="row">
                        <div class="col-6" (focusout)="calculate()">
                          Rate
                          <input class="form-control input_right" type="text" (input)="calculate()"
                            (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                            (click)="Empty($event)" [(ngModel)]="tcsrate" (keyup.enter)="calculate()" />
                        </div>
                        <div class="col-6" (focusout)="calculate()">
                          Value
                          <input class="form-control input_right" type="text" (input)="calculate()"
                            (keypress)="forMoney($event)" (focusin)="Empty($event)" (focusout)="return($event)"
                            (click)="Empty($event)" readonly [(ngModel)]="tcsvalue" (keyup.enter)="calculate()" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-0 p-0 border">
                    <div class="col-6 lblBox">
                      <div class="m-2">
                        <div class="lblBoxText">Rounded off</div>
                      </div>
                    </div>
                    <div class="col-6 amountFieldColor" (focusout)="calculate()">
                      <input class="form-control input_right" type="text" (keypress)="forMoneyCal($event)"
                        (input)="calculate()" (focusin)="Empty($event)" (focusout)="return($event)" (click)="Empty($event)"
                        [(ngModel)]="roundedoff" (keyup.enter)="calculate()" />
                    </div>
                  </div>
                  <div class="row m-0 p-0 border">
                    <div class="col-6 p-2">
                      <div class="m-1">Closing </div>
                    </div>
                    <div class="col-6 amountFieldColor">
                      <div class="m-1 mt-3 input_right">{{ closingtotal | currency:'INR'}}</div>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
        </div>
    </div>

   
    <div class="row text-center mt-4 mb-2">
      <div class="col-12">
      
        <button  class="btn btn-success my-button" (click)="submit()" style="margin-right: 5px;"
        [disabled]="loading">
        <i class="bi bi-save" *ngIf="!loading"></i>
        <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="loading">
          <span class="sr-only">Loading...</span>
        </div>
        Save Voucher
      </button>
        <button class="btn btn-danger my-button " (click)="clear()">
          <i class="bi bi-x-square"></i>
          Clear
        </button>
      </div>
    </div>
  </div>
</div>