<!-- Main Sidebar Container -->
<aside
  class="main-sidebar sidebar-light-primary"
  style="border-right: 1px solid #f0f1f3"
>
  <!-- Brand Logo -->
  <div style="text-align: start" class="logo-and-name">
    <a href="index3.html" class="brand-link">
      <img
        src="assets/LogoAuggitSvg.svg"
        alt="AdminLTE Logo"
        style="width: 100%"
      />
    </a>
  </div>
  <div style="text-align: start" class="logo-alone">
    <a href="index3.html" class="brand-link">
      <img
        src="assets/auggit_leaf.svg"
        alt="AdminLTE Logo"
        style="width: 100%"
      />
    </a>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/logo.png" class="img-circle elevation-2" alt="User Image">
        </div>
        
      </div> -->

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-grid"></i>
            <p class="sideBarItemText">
              Dashboard
              <!-- <i class="right fas fa-angle-right"></i> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-bag"></i>
            <p class="sideBarItemText">
              Master
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview mb-1 pl-4 pb-2">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">
                  Account Master
                  <!-- <i class="right fas fa-angle-right"></i> -->
                </p>
              </a>
              <ul class="nav nav-treeview mb-1 pl-4 pb-2">
                <li class="nav-item">
                  <a routerLink="ledgerlist" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Ledger</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="vendorlist" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Vendor</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="customerlist" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Customer</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="ledgergroup" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Ledger Group</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">
                  Inventory Master
                  <!-- <i class="right fas fa-angle-right"></i> -->
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="stockitem" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Stock Item</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="stockitemgroup" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Stock Group</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="stockitemcategory" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Stock Category</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="uom" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">uom</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">
                  Other Master
                  <!-- <i class="right fas fa-angle-right"></i> -->
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="country" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">Country Master</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="state" class="nav-link">
                    <!-- <i class="far fa-dot-circle nav-icon"></i> -->
                    <p class="sideBarItemText">State Master</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-cart"></i>
            <p class="sideBarItemText">
              Purchase Process
              <!-- <i class="right fas fa-angle-right"></i> -->
            </p>
          </a>
          <ul class="nav nav-treeview mb-1 pl-4 pb-2">
            <!-- <li class="nav-item">
              <a routerLink="polist" class="nav-link"> -->
            <!-- <i class="far fa-circle nav-icon"></i> -->
            <!-- <p class="sideBarItemText">PO</p> -->
            <!-- </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="purchase-order-list" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">Purchase Order</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="poservicelist" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">SERVICE PO</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="grnlist" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">GRN</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="servicegrnlist" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">SERVICE GRN</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-shop"></i>
            <p class="sideBarItemText">
              Sales & Distribution
              <!-- <i class="right fas fa-angle-right"></i> -->
            </p>
          </a>
          <ul class="nav nav-treeview mb-1 pl-4 pb-2">
            <!-- <li class="nav-item">
              <a routerLink="solist" class="nav-link"> -->
            <!-- <i class="far fa-circle nav-icon"></i> -->
            <!-- <p class="sideBarItemText">Sales Order</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="sales-order-list" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">Sales Order</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="so-report" class="nav-link">
                <p class="sideBarItemText">Sales Order Report</p>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a routerLink="soservicelist" class="nav-link"> -->
            <!-- <i class="far fa-circle nav-icon"></i> -->
            <!-- <p class="sideBarItemText">Service Sales Order</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="service-sales-order-list" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">Service Sales Order</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="sales-list" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">Sales</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="sales-service-list" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p class="sideBarItemText">Service Sales</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="credit-note" class="nav-link">
            <i class="bi bi-grid"></i>
            <p class="sideBarItemText">
              Credit Note
              <!-- <i class="right fas fa-angle-right"></i> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="debit-note" class="nav-link">
            <i class="bi bi-grid"></i>
            <p class="sideBarItemText">
              Debit Note
              <!-- <i class="right fas fa-angle-right"></i> -->
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                 Vouchers
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="receiptbank" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>BANK RECEIPT</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="receiptcash" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>CASH RECEIPT</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="paymentbank" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>BANK PAYMENT</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="paymentcash" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>CASH PAYMENT</p>
                </a>
              </li>
              
            </ul>
          </li>        
          <li class="nav-item">
            <a routerLink="trialbalance" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                TRIAL BALANCE
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="cr" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                CREDIT NOTE
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="dr" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                DEBIT NOTE
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            
          </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
