<div class="content-wrapper">
  <div class="p-4" style="background-color: #f9f9fc">
    <div class="pb-3">
      <div *ngIf="isCreateState; else elseBlock">
      <app-reports-header
        title="CREATE STATE MASTER"
        [searchField]="true"
        [reportFormGroupName]="stateForm"
        [saveTypesOptions]="saveAsOptions"
        buttonTitle="List of State Master"
        (onClickCreateButton)="onClickButton()"
      ></app-reports-header>
      </div>
      <ng-template #elseBlock>
        <app-reports-header
          title="UPDATE STATE MASTER"
          [reportFormGroupName]="stateForm"
          [isDownloadNeeded]="false"
          buttonTitle="List of State Master"
          (onClickCreateButton)="onClickButton()"
        ></app-reports-header>
      </ng-template>
    </div>
    <div
      style="
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e0e2e7;
        margin-bottom: 4px;
      "
    >
      <form [formGroup]="stateForm">
        <div class="row">
          <div class="col-12">
            <p
              style="
                padding-bottom: 12px;
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
              "
            >
              ID#
            </p>
            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <div
                class="col-12 d-flex flex-wrap align-items-center justify-content-between"
              >
                <p style="color: #667085; font-weight: 600">Country Name</p>

                <app-mat-select-box
                [formOptions]="countryDropDownData"
                [controlName]="'cCountry'"
                [label]="'Country Name'"
                [groupName]="stateForm"
                [formAppearance]="'outline'"
                selectWidth="201px"
              ></app-mat-select-box>
              </div>
              </div>
            </div>

            <div class="p-0 d-flex flex-wrap justify-content-between pb-2">
              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="stateForm"
                  labelText="State Name"
                  [placeholderText]="'State Name'"
                  [formControlName]="'sname'"
                ></app-mat-input>
              </div>

              <div class="col-lg-6 col-md-12 pb-2">
                <app-mat-input
                  [groupName]="stateForm"
                  labelText="State Code"
                  [placeholderText]="'State Code'"
                  [formControlName]="'scode'"
                ></app-mat-input>
              </div>
            </div>

            <app-action-button
              [loading]="loading"
              [isSave]="isCreateState"
              (clickSave)="submit()"
              (clickUpdate)="update()"
              (clickClearAll)="clear()"
            ></app-action-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
